<style>
    .typeOpt{
        display:none;
    }
    .typeActive{
        display:block;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form" id="couponForm" lay-filter="formVal">

                            <input type="hidden" name="_method" value="PUT" >

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">优惠券标题</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="title" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">优惠券类型</label>
                                <div class="layui-input-inline ">
                                    <input type="text" name="type_text" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">关联标题</label>
                                <div class="layui-input-inline ">
                                    <input type="text" name="relation_title" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">满足金额</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="money_satisfy" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">减免金额</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="money_derate" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">有效时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="end_time"  readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">优惠券状态</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox"  disabled  {$Coupon.status ?= "checked" } lay-skin="switch" lay-text="发放|待发">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
  layui.use(['form', 'route', 'jquery'], function() {
    var $ = layui.jquery,
        form = layui.form,
        route = layui.route,
        layer = layui.layer;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    //表单渲染
    form.render();

    //表单默认值
    form.val("formVal", {
      "title": "{$Coupon.title}",
      "type_text":"{$Coupon.type_text}",
      "goods_id":"{$Coupon.goods_id}",
      "classify_id":"{$Coupon.classify_id}",
      "money_satisfy":"{$Coupon.money_satisfy}",
      "money_derate":"{$Coupon.money_derate}",
      "end_time":"{$Coupon.end_time}",
      "relation_title":"{$Coupon.relation_title}",
    });

  });
</script>



<style scoped>

</style>