.layui-input-sm{
    width:30%;
}
.layui-input-md{
    width:50%;
}
.layui-input-bg{
    width:80%;
}

.self-card-header{
    display:inline;
    float:left;
}
.self-search{
    float:left;
    margin:0 20px;
    /*position:absolute !important;
    left:100px;
    top:0;*/
    /*margin:0 20px;*/
}
.self-search .self-search-input{
    border-color:#009688 !important;
    color:#009688 !important;
    padding: 0 0 0 35px !important;
}
.self-search .self-search-btn{
    border:0;
    background-color:transparent;
    z-index:2;
    cursor:pointer;
    color:#009688;
    position:absolute;
    top:15px;
    padding-left:11px;
}
.self-body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.self-error .self-error-icon {
    font-size:100px !important;
    color:#928b08;
}
.self-error .self-error-title{
    font-size: 18px;
    color:#009688;
    font-weight: 900;
}


.layui-upload-drag-middle{
    padding:15px 30px !important;
    border-radius:5px;
}
.layui-upload-drag-middle .layui-icon{
    font-size:30px !important;
}
.layui-upload-imgs{
    width: 100px;
    height:65px;
    border-radius:7px;
    margin:0 10px 5px 0;
}


.layui-table-img {
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    overflow-y:hidden;
    border:1px dotted #ccc;
    padding:5px 15px;
    margin-bottom:5px;
    border-radius:7px;
}
.layui-table-img .layui-img-list{
    width:100px;
    margin:0 10px 5px 0;
    text-align:center;
    float:left;
}
.layui-table-img .layui-img-list img{
    width: 100px;
    height:65px;
    border-radius:7px;
    margin-bottom:5px;
}
.layui-table-img .layui-img-list button{
    margin-left:0 !important;
}
