/*定义input输入框长度*/
.layui-input-md .layui-input-inline{
    width:50%;
}
.layui-input-md .layui-input-block{
    width:50%;
}
.layui-input-bg .layui-input-inline{
    width:80%;
}
.layui-input-bg .layui-input-block{
    width:80%;
}

.self-card-header{
    display:inline;
    float:left;
}
/*定义搜索*/
.self-search{
    float:left;
    margin:0 20px;
    /*position:absolute !important;
    left:100px;
    top:0;*/
    /*margin:0 20px;*/
}
.self-search .self-search-input{
    border-color:#009688 !important;
    color:#009688 !important;
    padding: 0 0 0 35px !important;
}
.self-search .self-search-btn{
    border:0;
    background-color:transparent;
    z-index:2;
    cursor:pointer;
    color:#009688;
    position:absolute;
    top:15px;
    padding-left:11px;
}
.self-body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.self-error .self-error-icon {
    font-size:100px !important;
    color:#928b08;
}
.self-error .self-error-title{
    font-size: 18px;
    color:#009688;
    font-weight: 900;
}






