
<!--引入头部文件-->
{include file="default/header" title="商品详情" keywords="Aoogi商城系统"}

{load href="/static/index/css/details.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}

<header class="banner">
    <div class="swiper-container" id="banner">
        <div class="swiper-wrapper">
            {volist name="Goods['banner']" id="b"}
                <div class="swiper-slide">
                    <img src="{$b}"/>
                </div>
            {/volist}

        </div>
    </div>
</header>
<!--返回模块 -->
<div class="back">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png"/>
    </a>
</div>

<!--商品标题模块-->
<div class="details-title">
    <div class="title-main">
        <h3>{$Goods.title}</h3>
        <p>{$Goods.info}</p>
        <span class="left">￥{$Goods.sell_price|float}</span>
        <span class="right">￥{$Goods.origin_price|float}</span>
    </div>

    <div class="title-vice">
        <p>发货地：{$Goods.address} </p>
        <p>销量：{$Goods.volume} </p>
        <p>邮费：￥{$Goods.franking} </p>
    </div>

    <!--图标-->
    <div class="title-icon">
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-1.png" />
        </div>
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-2.png" />
        </div>
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-3.png" />
        </div>
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-4.png" />
        </div>
    </div>
    <!--参数模块-->
    <div class="title-param" >
        <div class="param-title" id="paramTitle">
            <span>参数规格</span>
            <img src="/static/index/images/direct-down.png" id="paramIcon">
        </div>

        <!--参数信息-->
        <div class="param-info" id="paramInfo">
            {volist name="Param" id="p"}
                <div class="param-info-con">
                    <span>{$p.p_key} ：</span>
                    <p>{$p.p_value}</p>
                </div>
            {/volist}

        </div>
    </div>
</div>

<!--推荐模块-->
<div class="recomm">
    <div class="swiper-container" id="recomm">
        <div class="swiper-wrapper">

            {volist name="Recom" id="r"}
                <div class="swiper-slide">
                    <div class="recomm-list">
                        <a href="/goods/{$r.id}">
                            <img src="{$r.thumbnail}">
                            <div class="recomm-list-con">
                                <h3>{$r.title}</h3>
                                <p>￥{$r.sell_price|float}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {/volist}

        </div>
    </div>
</div>

<!--商品详情模块-->
<div class="info">
    <div class="info-title">
        <h2 class="info-active" id="0">产品详情</h2>
        <h2 id="1">用户评论</h2>
    </div>

    <div class="info-con">
        <div class="swiper-container" id="info">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="info-con-img">
                        {:html_entity_decode($Goods['content'])}
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="info-comment">
                        {volist name="Comments" id="c"}
                            <div class="comment-list">
                                <div class="comment-list-header">
                                    <div class="list-header-img">
                                        <img src="{$c.portrait}"/>
                                    </div>
                                    <div class="list-header-title">
                                        <h2>{$c.name}</h2>
                                        <p>{$c.create_time|date="Y-m-d H:i:s"}</p>
                                    </div>
                                    <div class="list-header-agree comAgree" data-comment-id="{$c.id}">
                                        <i></i>
                                        <p>{$c.laud}</p>
                                    </div>
                                </div>
                                <div class="comment-list-content">
                                    {$c.content}
                                </div>
                                <div class="comment-list-img">
                                    {volist name="$c.img" id="m"}
                                        <img src="{$m}" class="commentImg"/>
                                    {/volist}
                                </div>
                            </div>
                        {/volist}


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!--底部功能模块-->
<div class="bottom-content"></div>
<div class="goods-bottom">
    <div class="goods-bottom-icon">
        <div class="goods-bottom-icon-img" id="collect">
            <i class="icon-col {$Collect ?='icon-col-active'}"></i>
        </div>
        <div class="goods-bottom-icon-img">
            <a href="">
                <i class="icon-share"></i>
            </a>
        </div>
        <div class="goods-bottom-icon-img">
            <a href="/car">
                <i class="icon-car"></i>
            </a>
        </div>

    </div>
    <div class="goods-bottom-now nowPanel specPanel">
        <!--<a href="/logout">-->
            立即购买
       <!-- </a>-->
    </div>
    <div class="goods-bottom-car carPanel specPanel">
        加入购物车
    </div>
</div>

<!--底部功能选项模块-->
<div class="bottom-param">
    <div class="bottom-param-title">
        <img src="{$Goods.thumbnail}" id="goodsImg">
        <div class="param-title-middle">
            <h2>{$Goods.title}</h2>
            <div class="param-title-middle-price">
                <p>￥ </p><span id="goodsPrice">{$Spec.0.price|float}</span>
            </div>
            <div class="param-title-middle-price">
                <p>库存：</p><span id="goodsStock">{$Spec.0.stock}</span>
            </div>
        </div>
        <div class="param-title-close closePanel">
            <img src="/static/index/images/close.png">
        </div>
    </div>

    <form id="car_form">
        <div class="bottom-param-num">
            <span>购买数量：</span>
            <i class="param-num-icon icon-left"></i>
            <input type="text" name="num" value="1" id="goodsNum"/>
            <i class="param-num-icon icon-right"></i>
        </div>

        <div class="bottom-param-spec">
            {volist name="Spec" id="s"}
                <div class="spec-radio specRadio">
                    <input type="radio" name="spec_id" value="{$s.id}"/>
                    <span>{$s.name}</span>
                    <div class="spec-radio-hidden">
                        <p class="specPrice">{$s.price|float}</p>
                        <p class="specStock">{$s.stock}</p>
                    </div>
                </div>
            {/volist}
        </div>

        <div class="bottom-param-button">
            <button type="button" id="submitForm"> 确 定 </button>
        </div>

    </form>

</div>


</body>
<!--引入加载footer文件-->

{load href="/static/index/lib/swiper-4.3.3.min.js" /}


<script>
    /*产品Banner图Swiper*/
    var bannerSwiper = new Swiper('#banner', {
        loop: true,
        effect:'coverflow',
        autoplay: true,
    });

    /*推荐产品Swiper*/
    var recommSwiper = new Swiper('#recomm', {
        slidesPerView: "auto",
        freeMode:true,
        freeModeMomentum:false,
    });

    /*产品详情Swiper*/
    var infoSwiper = new Swiper('#info', {
        autoHeight:true,
        on:{
            slideChangeTransitionEnd:function(){
                var id = "#"+this.activeIndex;
                $(".info-title h2").siblings().removeClass("info-active");
                $(id).addClass("info-active");
            }
        }
    });
    /*产品详情与评论Swiper切换*/
    $(".info-title h2").click(function(){
        $(this).siblings().removeClass("info-active");
        $(this).addClass("info-active");
        infoSwiper.slideTo($(this).attr('id'));
    });


    /*收藏功能处理*/
    $("#collect").click(function(){
        var _that = $(this);
        $.post('/whether/'+"{$Goods.id}",'',function(res){
            if(res.code === 1)
                _that.children("i").toggleClass('icon-col-active');

            alertConfirm(res.msg);
            return false
        });
    });


    /*评论图显示*/
    $(".commentImg").click(function(){
        var imgInfo = (['<div class="img-big" >','<img src='+$(this).attr('src')+'>','</div>'].join());
        $("body").append(imgInfo);

    });
    /*评论图隐藏*/
    $(document).on("click",".img-big",function(){
        $(this).remove();
    });

    /*评论点赞*/
    $(".comAgree").on("click",function(){
        var _that = $(this);
        var comId = _that.attr('data-comment-id');
        var num = parseInt(_that.find("p").text());
        $.post('/agree/'+comId,'',function(res){
            if(res.code === 1){
                _that.find("i").addClass('agree-active');
                _that.find('p').text(""+(num+1)+"");
            }
            alertConfirm(res.msg);
        });
    });


    /*购物数量减法控制*/
    $(".icon-left").click(function(){
        var goods = $('#goodsNum');
        if(parseInt(goods.val()) <0 ) return $(goods).val(1);
        if(parseInt(goods.val())-1 > 0) return $(goods).val(goods.val()-1);

    });
    /*购物数量加法控制*/
    $(".icon-right").click(function(){
        var goods = $('#goodsNum');
        var stock = parseInt($('#goodsStock').text());
        if(parseInt(goods.val()) <0 ) return $(goods).val(1);
        if(parseInt(goods.val())+1 <= stock) return $(goods).val(parseInt(goods.val())+1);
    });
    /*判断输入数量是否合法*/
    $("#goodsNum").blur(function(){
        var reg = /^[1-9]+[0-9]*$/;
        var stock = parseInt($('#goodsStock').text());
        if(!reg.test($(this).val())) return $(this).val(1);
        if(parseInt($(this).val()) > stock) return $(this).val(parseInt(stock));
    });


    /*切换参数列表展开/收起显示模式*/
    $("#paramTitle").click(function(){
        $("#paramInfo").toggle('slow',function(e){
            console.log(e);
            switch($(this).css('display')){
                case 'block':
                    $("#paramIcon").attr('src','/static/index/images/direct-up.png');
                    break;
                default:
                    $("#paramIcon").attr('src','/static/index/images/direct-down.png');
                    break;
            }
        });
    });

    var panelUrl='';
    /*显示规格面板*/
    $(".nowPanel").click(function(){
        panelUrl = '/car/buy/';
        $(".bottom-param").toggle();
    });
    $(".carPanel").click(function(){
        panelUrl = '/car/join/';
        $(".bottom-param").toggle();
    });
    /*关闭规格面板*/
    $(".closePanel").click(function(){
        $(".bottom-param").hide();
    });
    /*默认选中第一个规格*/
    $(".bottom-param-spec").children("div:first").addClass("radio-active").find("input").attr("checked",true);

    /*商品规格选择控制*/
    $(".specRadio").click(function(){
        $(this).siblings().removeClass("radio-active");
        $(this).addClass("radio-active");
        $(this).parent().find("input").attr('checked',false);
        $(this).children('input').attr('checked',true);
        $('#goodsPrice').text($(this).find('.specPrice').text());
        $('#goodsStock').text($(this).find('.specStock').text());
        if(parseInt($("#goodsNum").val()) > parseInt($(this).find('.specStock').text()))
            return $("#goodsNum").val(parseInt($(this).find('.specStock').text()));

    });

    /*表单提交*/
    $("#submitForm").click(function(){
        $(".bottom-param").hide();
        $.post(panelUrl+"{$Goods.id}",$("#car_form").serialize(),function(res){
            alertConfirm(res.msg);
        });
    });




</script>

</html>