
<!--引入头部文件-->
{include file="default/header" title="产品列表" keywords="Aoogi商城系统"}

{load href="/static/index/css/roll-nav.css" /}
{load href="/static/index/css/goods-list.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}


<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>产品列表</h2>
</header>

<!--二级分类模块-->
<div class="roll-nav">
    <div class="swiper-container" id="categorySwiper">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide nav-active" id="1">
                <span>iPHONE MX</span>
            </div>-->
            {volist name="Classify" id="c" key="k"}
                <div class="swiper-slide classifySlide {$k==1 ?= 'nav-active'} " data-classify-id="{$c.id}">
                    <span>{$c.title}</span>
                </div>
            {/volist}
            <!--<div class="swiper-slide" id="2">
                <span>小米MX3</span>
            </div>-->
        </div>
    </div>

</div>

<!--产品列表模块-->
<div class="list" id="goodsList">
        <!--{volist name="Goods" id="g"}
            <div class="list-block" title="1">
                <div class="block-img">
                    <img src="{$g.thumbnail}">
                </div>
                <div class="block-info">
                    <h2>{$g.title}</h2>
                    <h3>{$g.info}</h3>
                    <div class="block-info-price">
                        <p>￥{$g.sell_price}</p>
                        <p>￥{$g.origin_price}</p>
                    </div>
                </div>
            </div>
        {/volist}

        <div class="list-block" title="2">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="3">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="4">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="5">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="6">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="7">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="8">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>-->

</div>
<div class="load" style='width:100%;height:1.2rem;line-height: 1.2rem;color: #838383;text-align:center;font-size:0.3rem;'>
    <p id='loadP'></p>
</div>




<!--引入加载footer文件-->
<!--{include file="default/footer" /}-->

{load href="/static/index/lib/swiper-4.3.3.min.js" /}
<!--
{load href="/static/index/js/aoogiLoad.js" /}
{load href="/static/index/js/aoload.js" /}
{load href="/static/plugin/dropload/dropload.css" /}
{load href="/static/plugin/dropload/dropload.js" /}
-->

<script>
    var categorySwiper = new Swiper('#categorySwiper', {
        slidesPerView: "auto",
        freeMode:true,
        freeModeMomentum:false,
    });

 /*   categorySwiper.on('click',function(res){

        console.log(res);
        console.log(this);
        $(".swiper-slide").removeClass('nav-active');
        $("#"+this.clickedSlide.id).addClass('nav-active');
    });*/


    //分类slide点击切换
    $(".classifySlide").on("click",function(){
        $(".classifySlide").removeClass("nav-active");
        $(this).addClass("nav-active");
        var classId = $(this).attr('data-classify-id');
        $("#goodsList").load('/goods/pageData/'+classId+'/1/20');
    });

    /*$(".list-block").click(function(){
        //console.log($(this).attr('title'));
        window.location.href="/details";
    });*/

    /*$("#goodsList").load('/goods/pageData/5/1/20');

    var dataLoad = aoogiLoad({
        url:'/goods/pageData',
        id:'abc',
        startPage:'1',
        limit:'20',
        classify:'5'
    });*/






</script>
<script>
    var classify = 5;


    var pageAjax = {
        pageNo : 1,                 //开始页码
        pageSize : 6,              //分布数据数量
        loader : $(".mui-loading"), //加载中
        endText : $(".mui-end"),     //结束
        loadMore : $(".mui-more"),  //加载更多
        promotion_id : $("input[name='promotion_id']").val(),
        curNavIndex : $(".pro-top .active").data('id'),
        shiftNav : $(".product-search .pro-top").find("li"),

        //loadDivC : "<div class='load' style='width:100%;height:1.2rem;line-height: 1.2rem;color: #838383;text-align:center;font-size:0.3rem;'><p id='loadP'></p></div>",
        loading : "加载中......",
        loadingUp : "上拉可以加载更多哦@#￥%……&",
        loadingEnd : "=== 我们的底线已经暴露了 ===",
        loadDiv : $('.load'),
        loadP : $('#loadP'),
        onOff : true,


        throttle : function(func,delay){     //延缓滚动加载次数  防止抖动
            var timer = null;
            var startTime = Date.now();
            return function(){
                var curTime = Date.now();
                var remaining = delay - (curTime - startTime);
                var context = this;
                var args = arguments;
                clearTimeout(timer);
                if(remaining <= 0){
                    func.apply(context,args);
                    startTime = Date.now();
                }else{
                    timer = setTimeout(func,remaining);
                }
            }
        },
        //获取数据
        getDataInit : function(dataId){
            var mui = $;
            pageAjax.onOff = false;
            console.log(mui);
            mui.ajax("/goods/pageData/"+classify+"/"+pageAjax.pageNo+"/"+pageAjax.pageSize+"",{
                dataType:'json',
                type:'get',
                timeout:10000,
                headers:{'Content-Type':'application/json'},
                beforeSend:function(){
                    pageAjax.loadP.html(pageAjax.loading);
                    /*pageAjax.loader.show();
                    pageAjax.loadMore.hide();
                    pageAjax.endText.hide();*/
                },
                success:function(res){
                    console.log(res);
                    if(res.code == 1){
                        var result = '';
                        $.each(res.data,function(i,val){
                            result +=   '<a class="list-block" href="/goods/'+res.data[i].id+'">'
                                +'<div class="block-img">'
                                +'<img src="'+res.data[i].thumbnail+'">'
                                +'</div>'
                                +'<div class="block-info">'
                                +'<h2>'+res.data[i].title+'</h2>'
                                +'<h3>'+res.data[i].info+'</h3>'
                                +'<div class="block-info-price">'
                                +'<p>￥<span>'+changeFloat(res.data[i].sell_price)+'</span></p>'
                                +'<p>￥<span>'+res.data[i].origin_price+'</span></p>'
                                +'</div>'
                                +'</div>'
                                +'</a>';
                        });
                        console.log(res.data.length);
                        $("#goodsList").append(result);     //追加数据
                        if(res.data.length < pageAjax.pageSize){
                            pageAjax.loadP.html(pageAjax.loadingEnd);
                        }else{
                            pageAjax.onOff = true;
                            pageAjax.loadP.html(pageAjax.loadingUp);
                        }

                    }
                    if(res.code == 0){
                        pageAjax.onOff = true;
                        pageAjax.loadP.html(pageAjax.loadingUp);
                        /*pageAjax.endText.show();
                        pageAjax.loader.hide();
                        pageAjax.loadMore.hide();*/
                    }

                    /*if(data.code == 200){
                        var list = data.data;
                        var html = $("#goodsTemp").render(list);
                        $("#goodsList").append(html);
                        pageAjax.loadMore.show();
                    }
                    if(data.code == 400){
                        pageAjax.endText.show();
                        pageAjax.loader.hide();
                        pageAjax.loadMore.hide();
                    }*/
                },
                error:function(data){
                    console.log(data);
                    pageAjax.onOff = true;
                }
            });
        },
        //检查请求情况
        clickAjax : function(){
            pageAjax.shiftNav.on("tap",function(){
                pageAjax.pageNo = 1;             //重置页码为1
                $("#goodsList").html("");         //清空容器内容
                pageAjax.loadMore.hide();        //清空加载更多
                var cat_id = $(this).data("id"); //获取类别id
                $(this).addClass("active").siblings("li").removeClass("active");
                pageAjax.getDataInit(cat_id);
            });
        },
        //计算页面滚动情况
        scrollFuc : function(){
            $(window).scroll(pageAjax.throttle(function(){
                var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
                var scrollHeight = $(document).height();   //当前页面的总高度
                var clientHeight = $(this).height();    //当前可视的页面高度
                if(scrollTop + clientHeight >= scrollHeight - 200){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部
                    if($(".mui-end").is(":hidden")){
                        pageAjax.pageNo++;
                        var cat_id = $(".pro-top").find("li.active").data("id");
                        pageAjax.getDataInit(cat_id);
                    }else{
                        pageAjax.loadMore.hide();
                    }
                }
            },2000));
        }

    };

    $(function(){
        var mui = this;
       // mui.init();
        /*$.views.settings.delimiters("<%", "%>");
        $.views.converters({
            parseNum: function(value){
                console.log(value);
                return parseInt(value);
            }
        });*/
        $(".mui-loading,.mui-end").hide();


        /*$('body').append(pageAjax.loadDivC);*/
        if(!pageAjax.onOff){
            return false;
        }
        pageAjax.clickAjax();
        pageAjax.scrollFuc();
        pageAjax.getDataInit(pageAjax.curNavIndex);
    });

</script>
</body>
</html>