
<!--引入头部文件-->
{include file="default/header" title="产品列表" keywords="Aoogi商城系统"}

{load href="/static/index/css/roll-nav.css" /}
{load href="/static/index/css/goods-list.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}


<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>产品列表</h2>
</header>

<!--二级分类模块-->
<div class="roll-nav">
    <div class="swiper-container" id="categorySwiper">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide nav-active" id="1">
                <span>iPHONE MX</span>
            </div>-->
            {volist name="Classify" id="c" key="k"}
                <div class="swiper-slide classifySlide {$k==1 ?= 'nav-active'} " data-classify-id="{$c.id}">
                    <span>{$c.title}</span>
                </div>
            {/volist}
            <!--<div class="swiper-slide" id="2">
                <span>小米MX3</span>
            </div>-->
        </div>
    </div>

</div>

<!--产品列表模块-->
<div class="list" id="goodsList">
        <!--{volist name="Goods" id="g"}
            <div class="list-block" title="1">
                <div class="block-img">
                    <img src="{$g.thumbnail}">
                </div>
                <div class="block-info">
                    <h2>{$g.title}</h2>
                    <h3>{$g.info}</h3>
                    <div class="block-info-price">
                        <p>￥{$g.sell_price}</p>
                        <p>￥{$g.origin_price}</p>
                    </div>
                </div>
            </div>
        {/volist}

        <div class="list-block" title="2">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="3">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="4">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="5">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="6">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="7">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>

        <div class="list-block" title="8">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="block-info">
                <h2>iPhone XR-大屏幕上见</h2>
                <h3>畅想科技未来不得不见的可以来现</h3>
                <div class="block-info-price">
                    <p>￥<span>2500.00</span></p>
                    <p>￥<span>3000.00</span></p>
                </div>
            </div>
        </div>-->

</div>




<!--引入加载footer文件-->
<!--{include file="default/footer" /}-->

{load href="/static/index/lib/swiper-4.3.3.min.js" /}
{load href="/static/index/js/aoogiLoad.js" /}
{load href="/static/plugin/dropload/dropload.css" /}
{load href="/static/plugin/dropload/dropload.js" /}

<script>
    var categorySwiper = new Swiper('#categorySwiper', {
        slidesPerView: "auto",
        freeMode:true,
        freeModeMomentum:false,
    });

 /*   categorySwiper.on('click',function(res){

        console.log(res);
        console.log(this);
        $(".swiper-slide").removeClass('nav-active');
        $("#"+this.clickedSlide.id).addClass('nav-active');
    });*/


    //分类slide点击切换
    $(".classifySlide").on("click",function(){
        $(".classifySlide").removeClass("nav-active");
        $(this).addClass("nav-active");
        var classId = $(this).attr('data-classify-id');
        $("#goodsList").load('/goods/pageData/'+classId+'/1/20');
    });

    /*$(".list-block").click(function(){
        //console.log($(this).attr('title'));
        window.location.href="/details";
    });*/

    /*$("#goodsList").load('/goods/pageData/5/1/20');

    var dataLoad = aoogiLoad({
        url:'/goods/pageData',
        id:'abc',
        startPage:'1',
        limit:'20',
        classify:'5'
    });*/






</script>
<script>

    // 页数
    var page = 0;    // 每页展示5个
    var size = 8;    // dropload调用
    var classify = 5;    //分类

    var dataLoad = $('#goodsList').dropload({
        scrollArea : window,
        loadDownFn : function(me){
            page++;            // 拼接HTML
            var result = '';
            console.log(page);
            console.log(size);
            console.log(classify);
            /*return false;*/
            $.ajax({
                type: 'GET',
                url: '/goods/pageData/'+classify+'/'+page+'/'+size,//配合后台接口
                dataType: 'json',
                success: function(res){
                    console.log(res);
                    var arrLen = res.data.length;
                    if(arrLen > 0){
                        for(var i=0; i<arrLen; i++){
                            result +=   '<a class="list-block" href="/goods/'+res.data[i].id+'">'
                                +'<div class="block-img">'
                                +'<img src="'+res.data[i].thumbnail+'">'
                                +'</div>'
                                +'<div class="block-info">'
                                +'<h2>'+res.data[i].title+'</h2>'
                                +'<h3>'+res.data[i].info+'</h3>'
                                +'<div class="block-info-price">'
                                +'<p>￥<span>'+changeFloat(res.data[i].sell_price)+'</span></p>'
                                +'<p>￥<span>'+res.data[i].origin_price+'</span></p>'
                                +'</div>'
                                +'</div>'
                                +'</a>';
                        }                    // 如果没有数据
                    }else{                        // 锁定
                        me.lock();                        // 无数据
                        me.noData();
                    }

                    // 插入数据到页面，放到最后面
                    $('#goodsList').append(result);                        // 每次数据插入，必须重置
                    me.resetload();

                },
                error: function(xhr, type){
                    /*alert('Ajax error!');*/                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        }
    });

</script>
</body>
</html>