<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">

                <div class="layui-card-body">
                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>

                    <div class="layui-card-header" >
                        <div class="self-card-header">
                            <a href="#/aoogi/adminer/create" class="layui-btn layui-btn-sm">
                                <i class="layui-icon">&#xe654;</i>
                                <span>新增</span>
                            </a>
                        </div>
                    </div>

                    <div class="layui-card-body">
                        <!--表格主体-->
                        <table id="tableHash" lay-filter="tIndex"></table>

                        <!--操作控制-->
                        <script type="text/html" id="barHash">
                            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>

                        <!--状态显示控制-->
                        <script type="text/html" id="setStatus">

                            <input type="checkbox" name="status" lay-filter="switchStatus" lay-skin="switch" {{# if(d.status){ }}checked{{#} }} lay-text="开启|禁用" value="{{d.id}}">

                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    layui.config({
        base: '/static/admin/js/'
    }).use(['jquery', 'table', 'form','route'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            route = layui.route,
            form = layui.form;

        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        //第一个实例
        table.render({
            method: 'post',
            //size: 'sm',
            limit: 10,
            elem: '#tableHash',
            height: 'full-235',
            url: '/aoogi/adminer/data', //数据接口
            page: true, //开启分页
            cols: [
                [ //表头
                    {
                        field: 'id', title: 'ID', width: 80, sort: true, align: 'center', fixed: 'left'
                    }, {
                        field: 'account', title: '登录帐户', align: 'center'
                    }, {
                        field: 'name', title: '真实姓名', align: 'center'
                    }, {
                        field: 'status', title: '帐户状态', align: 'center', minWidth: 100, templet:'#setStatus'
                    }, {
                        field: 'permissions_id', title: '所属权限组', align: 'center', minWidth: 120
                    }, {
                        field: 'last_ip', title: '最后登录IP',align: 'center', minWidth: 120
                    }, {
                        field: 'last_at', title: '最后登录时间', align: 'center', minWidth: 120
                    }, {
                        field: 'count', title: '登录次数', align: 'center', minWidth: 100
                    }, {
                        field: 'remark', title: '备注', align: 'center'
                    }, {
                        fixed: 'right', title:'操作', align: 'center', minWidth: 200, toolbar: '#barHash'
                    }
                ]
            ]
        });

        //监听状态开关
        form.on('switch(switchStatus)', function(data) {
            var status = this.checked ? 1 : 0 ;
            $.post("/aoogi/adminer/status",{"id":data.value,"status":status},function(res){
                layer.msg(res.msg);
                table.reload('tableHash');
            });
        });

        //操作栏监听
        table.on('tool(tIndex)',function(obj){
            if(obj.event === 'detail'){
                window.location.href ='#/aoogi/adminer/read/'+obj.data.id;
            }else if(obj.event === 'edit'){
                console.log(obj.data.id);
                window.location.href ='#/aoogi/adminer/edit/'+obj.data.id;
            }else if(obj.event === 'del'){
                layer.confirm('确定删除该管理员?', {icon: 3, title:'提示'}, function(index){
                    $.post('/aoogi/adminer/'+obj.data.id,{'_method':'DELETE'},function(res){
                        layer.msg(res.msg);
                        table.reload('tableHash');
                    });
                    layer.close(index);
                });
            }
        });




    });
</script>


<style scoped>

</style>