<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form layui-form-pane" action="">

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">登录帐号</label>
                                <div class="layui-input-block">
                                    <input type="text"   value="{$Adminer.account}" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">真实姓名</label>
                                <div class="layui-input-block">
                                    <input type="text"   value="{$Adminer.name}" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">所属权限组</label>
                                <div class="layui-input-block">
                                    <input type="text"   value="{$Adminer.per_id}" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">登录次数</label>
                                <div class="layui-input-block">
                                    <input type="text"   value="{$Adminer.count}" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">最后登录IP</label>
                                <div class="layui-input-block">
                                    <input type="text"   value="{$Adminer.last_ip}" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">最后登录时间</label>
                                <div class="layui-input-block">
                                    <input type="text"   value="{$Adminer.last_at}" readonly class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md" pane="" >
                                <label class="layui-form-label">帐户状态</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" lay-skin="switch" lay-text="开启|禁用" disabled {if $Adminer.status} checked {/if} >
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text layui-input-md">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    <textarea  class="layui-textarea" readonly >{$Adminer.remark}</textarea>
                                </div>
                            </div>

                        </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    layui.use(['form','route'], function() {
        var $ = layui.jquery,
            route = layui.route,
            form = layui.form;

        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        form.render();

    });

</script>

<style scoped>

</style>