
<!--引入头部文件-->
{include file="default/header" title="优惠券列表" keywords="Aoogi商城系统"}

{load href="/static/index/css/roll-nav.css" /}
{load href="/static/index/css/coupon.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.js" /}


<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>优惠券</h2>
</header>

<!--模块导航-->
<div class="roll-nav">
    <div class="swiper-container" id="orderSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide nav-active" id="notUse" data-id="0">
                <span>未使用</span>
            </div>
            <div class="swiper-slide" id="alReady" data-id="2">
                <span>已使用</span>
            </div>
            <div class="swiper-slide" id="overDue" data-id="3">
                <span>已过期</span>
            </div>

        </div>
    </div>

</div>

<!--列表模块-->
<div class="coupon">
    {if $Coupon}
        {volist name="Coupon" id="c"}
            <div class="coupon-list">
                <div class="coupon-list-top">
                    <div class="list-top-type">
                        <p>类型</p>
                        <h2>{$c.type_text}</h2>
                    </div>
                    <div class="list-top-money">
                        <p><span>￥</span> {$c.money_derate}</p>
                    </div>
                </div>
                <div class="coupon-list-bottom">
                    <p><span>金额：</span> 满 ￥{$c.money_satisfy} 减 ￥{$c.money_derate}</p>
                    <p><span>商品：</span> {$c.relation_title}</p>
                    <p><span>有效期：</span> {$c.end_time}</p>
                </div>
                <div class="coupon-status">
                    <i class=""></i>
                </div>
            </div>
        {/volist}
    {else /}
        <div class="empty-data">
            <img src="/static/index/images/null.png"/>
            <p>暂时没有优惠券哦....</p>
        </div>
    {/if}

    <!--<div class="coupon-list">
        <div class="coupon-list-top">
            <div class="list-top-type">
                <p>类型</p>
                <h2>产品可用</h2>
            </div>
            <div class="list-top-money">
                <p><span>￥</span>50</p>
            </div>
        </div>
        <div class="coupon-list-bottom">
            <p><span>金额：</span> 满￥300减￥20</p>
            <p><span>商品：</span> 小米MX 3青春有你-我们不见不散不见不散不见不散</p>
            <p><span>有效期：</span> 2018-12-12</p>
        </div>
        <div class="coupon-status">
            <i class=""></i>
        </div>
    </div>-->

</div>

<!--引入加载footer文件-->
<div class="bottom-content"></div>

</body>



<script>

    var orderSwiper = new Swiper('#orderSwiper', {
        slidesPerView: "auto",
        freeMode:true,
        freeModeMomentum:false,
    });

    /*NAV 切换模式*/
    orderSwiper.on('click',function(res){
        $(".swiper-slide").removeClass('nav-active');
        $("#"+this.clickedSlide.id).addClass('nav-active');
        couponData(this.clickedSlide.dataset.id);
    });


    /**
     * 获取优惠券状态数据，并进行数据填充
     * @param   $type   优惠券状态类型
     * */
    function couponData($type){
        if(!(/[0|2|3]/.test($type)))
            return alertConfirm('优惠券信息有误');
        var emptyData = '<div class="empty-data">'
                      +'<img src="/static/index/images/null.png"/>'
                      +'<p>暂时没有优惠券哦....</p>'
                      +'</div>';
        var typeIcon = '';
        switch($type){
            case '2' :
                typeIcon = 'coupon-icon-ready';
                break;
            case '3' :
                typeIcon = 'coupon-icon-overdue';
                break;
            default :
                typeIcon = '';
                break;
        }
        var coupon = $(".coupon");
        $.post('/coupon/'+$type,'',function(res){
            if(res.code == 1){
                var result = '';
                $.each(res.data,function(i,val){
                    result +=   '<div class="coupon-list">'
                        +'<div class="coupon-list-top">'
                        +'<div class="list-top-type">'
                        +'<p>类型</p>'
                        +'<h2>'+res.data[i].type_text+'</h2>'
                        +'</div>'
                        +'<div class="list-top-money">'
                        +'<p><span>￥</span> '+res.data[i].money_derate+'</p>'
                        +'</div>'
                        +'</div>'
                        +'<div class="coupon-list-bottom">'
                        +'<p><span>金额：</span> 满 ￥'+res.data[i].money_satisfy+' 减 ￥'+res.data[i].money_derate+'</p>'
                        +'<p><span>商品：</span> '+res.data[i].relation_title+'</p>'
                        +'<p><span>有效期：</span> '+res.data[i].end_time+'</p>'
                        +'</div>'
                        +'<div class="coupon-status">'
                        +'<i class="'+typeIcon+'"></i>'
                        +'</div>'
                        +'</div>';
                });
                coupon.html('').append(result);

            }
            if(res.code == 0){
                coupon.html('').append(emptyData);
            }

        })
    }

</script>

</html>