<div class="layui-fluid self-body">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-row">

        <div class="layui-col-md12">
          <div class="kit-exception self-error">
            <i class="layui-icon kit-exception-icon self-error-icon">&#xe69c;</i>
            <h3 class="kit-exception-title self-error-title">抱歉，你暂无权限进行该操作.</h3>
            <a href="javascript:history.back(-1);" class="layui-btn">返回上一页</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
</script>
<style scoped>

</style>