<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">

                <div class="layui-card-body">
                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>

                    <div class="layui-card-header">
                        <div class="self-card-header">
                            <a href="#/aoogi/logistics/create" class="layui-btn layui-btn-sm">
                                <i class="layui-icon">&#xe654;</i>
                                <span>新增</span>
                            </a>
                        </div>
                    </div>

                    <div class="layui-card-body">
                        <!--表格主体-->
                        <table id="tableHash" lay-filter="tIndex"></table>

                        <!--操作控制-->
                        <script type="text/html" id="barHash">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    layui.config({
        base: '/static/admin/js/'
    }).use(['jquery', 'table', 'route'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            route = layui.route;

        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        //表格数据获取及定义
        var tableLoad = table.render({
            method: 'post',
            //size: 'sm',
            limit: 10,
            limits:[10,20],
            elem: '#tableHash',
            height: 'full-235',
            url: '/aoogi/logistics/data', //数据接口
            page: true, //开启分页
            cols: [
                [ //表头
                    {
                        field: 'id', title: 'ID', sort: true, align: 'center', fixed: 'left'
                    }, {
                        field: 'title', title: '物流公司名称', align: 'center'
                    },{
                        fixed: 'right', title:'操作', align: 'center', toolbar: '#barHash'
                    }
                ]
            ]
        });



        //操作栏监听
        table.on('tool(tIndex)',function(obj){
            if(obj.event === 'edit'){
                window.location.href ='#/aoogi/logistics/edit/'+obj.data.id;
            }else if(obj.event === 'del'){
                layer.confirm('确认删除此物流公司？', {icon: 3, title:'提示'}, function(index){
                    $.post('/aoogi/logistics/'+obj.data.id,{'_method':'DELETE'},function(res){
                        layer.msg(res.msg);
                        table.reload('tableHash');
                    });
                    layer.close(index);
                });

            }
        });


    });
</script>


<style scoped>

</style>