
<!--引入头部文件-->
{include file="default/header" title="重置密码" keywords="Aoogi商城系统"}

{load href="/static/index/css/login.css" /}

<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
</header>


<!--结算模块-->
<div class="login register">
    <h2>重置密码</h2>
    <form id="forgetForm">

        {:token()}

        <div class="login-cont">
            <div class="cont-input">
                <input type="text" name="phone" placeholder="帐户" value="13564078415" id="phone"/>
                <i class="icon-account"></i>
            </div>
            <div class="cont-input">
                <input type="text" name="code" placeholder="验证码" class="input-code" id="code" value="111111"/>
                <button type="button" id="getCode">获取验证码</button>
                <i class="icon-code"></i>
            </div>
            <div class="cont-input">
                <input type="password" name="password" placeholder="设置新密码" id="pwd" value="111111"/>
                <i class="icon-pwd"></i>
            </div>

        </div>
        <div class="login-button">
            <button type="button" id="submitForm">重置密码</button>
        </div>




    </form>
</div>





<!--引入加载footer文件-->
<div class="bottom-content"></div>

</body>



<script>

    $("#getCode").click(function(){

        //倒计时时间
        var countdown=60;
        var mobile = $("#phone").val();

        //验证手机号码是否正确
        if(!(/^1[345678]\d{9}$/.test(mobile)))
            return alertConfirm('请输入正确的手机号码');

        $.post('/getCode/'+mobile+'/'+2,'',function(res){
            if(res.code == 1){
                alertConfirm(res.msg);
                setTime();
            }else{
                alertConfirm(res.msg);
            }

        });

        //倒计时
        function setTime() {

            if (countdown == 0) {
                $("#getCode").attr("disabled",false).removeClass('code-active').text('重新获取');
                countdown = 60;
                return false;
            } else {
                $("#getCode").attr("disabled", true).addClass('code-active').text(''+countdown+' S');
                countdown--;
            }
            setTimeout(function() {
                setTime();
            },1000);
        }


    });

    /*
     * 忘记密码提交处理
     * */
    $("#submitForm").click(function(){
        var phone = $.trim($('#phone').val());
        var password = $.trim($('#pwd').val());
        var code = $.trim($('#code').val());

        //数据验证
        if(!(/^1[345678]\d{9}$/.test(phone))) return alertConfirm('帐户号码不正确');
        if(password == '' || password.length < 6) return alertConfirm('密码长度应大于6位');
        if(!(/\d{6}/.test(code))) return alertConfirm('验证码不正确');

        //提交表单
        $.post('/forget',$("#forgetForm").serialize(),function(res){
            if(res.code == 1){
                alertConfirm(res.msg);
                timeOutUrl(res.url)
            }else{
                alertConfirm(res.msg);
                resetToken('forgetForm');
            }
        })
    });


</script>

</html>