
<!--引入头部文件-->
{include file="default/header" title="登录" keywords="Aoogi商城系统"}

{load href="/static/index/css/login.css" /}


<!--结算模块-->
<div class="login">
    <h2>登录</h2>
    <form id="loginForm">

        {:token()}

        <div class="login-cont">
            <div class="cont-input">
                <input type="text" name="phone" placeholder="登录帐户" value="13564078415" id="phone"/>
                <i class="icon-account"></i>
            </div>
            <div class="cont-input">
                <input type="password" name="password" placeholder="登录密码" value="111111" id="pwd"/>
                <i class="icon-pwd"></i>
            </div>
        </div>
        <div class="login-button">
            <button type="button" id="submitForm">登录</button>
        </div>
        <div class="login-reg">
            <a href="/register">立即注册</a>
            <a href="/forget">忘记密码？</a>
        </div>



    </form>
</div>





<!--引入加载footer文件-->
<div class="bottom-content"></div>

</body>



<script>

    /*
     * 登录提交处理
     * */
    $("#submitForm").click(function(){
        var phone = $.trim($('#phone').val());
        var password = $.trim($('#pwd').val());

        //数据验证
        if(!(/^1[345678]\d{9}$/.test(phone))) return alertConfirm('登录帐户不正确');
        if(password == '' || password.length < 6) return alertConfirm('密码不正确');

        //登录提交
        $.post('/login',$("#loginForm").serialize(),function(res){
           if(res.code == 1){
               alertConfirm(res.msg);
               timeOutUrl(res.url)
           }else{
               alertConfirm(res.msg);
               resetToken('loginForm');
           }
        })
    });

</script>

</html>