
<!--引入头部文件-->
{include file="default/header" title="注册" keywords="Aoogi商城系统"}


{load href="/static/index/css/login.css" /}

<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
</header>


<!--结算模块-->
<div class="login register">
    <h2>注册</h2>
    <form id="registerForm" >

        {:token()}

        <div class="login-cont">
            <div class="cont-input">
                <input type="text" name="phone" placeholder="注册号码"  id="phone"/>
                <i class="icon-account"></i>
            </div>
            <div class="cont-input">
                <input type="password" name="password" placeholder="设置密码"  id="pwd"/>
                <i class="icon-pwd"></i>
            </div>
            <div class="cont-input">
                <input type="text" name="code" placeholder="验证码" class="input-code" id="code"/>
                <button type="button" id="getCode">获取验证码</button>
                <i class="icon-code"></i>
            </div>
        </div>
        <div class="login-button">
            <button type="button" id="submitForm">注册</button>
        </div>
        <div class="login-reg">
            <a href="Javascript:history.go(-1);">返回登录</a>
        </div>



    </form>
</div>





<!--引入加载footer文件-->
<div class="bottom-content"></div>

</body>



<script>

    /*
    * 获取验证码处理
    * */
    $("#getCode").click(function(){

        //倒计时时间
        var countdown=60;
        var mobile = $("#phone").val();

        //验证手机号码是否正确
        if(!(/^1[345678]\d{9}$/.test(mobile)))
           return alertConfirm('请输入正确的手机号码');

        $.post('/getCode/'+mobile+'/'+1,'',function(obj){
            if(obj.code == 1){
                alertConfirm(obj.msg);
                setTime();
            }else{
                alertConfirm(obj.msg);
            }

        });


        //倒计时
        function setTime() {

            if (countdown == 0) {
                $("#getCode").attr("disabled",false).removeClass('code-active').text('重新获取');
                countdown = 60;
                return false;
            } else {
                $("#getCode").attr("disabled", true).addClass('code-active').text(''+countdown+' S');
                countdown--;
            }
            setTimeout(function() {
                setTime();
            },1000);
        }


    });

    /*
    * 注册提交处理
    * */
    $("#submitForm").click(function(){
        var phone = $.trim($('#phone').val());
        var password = $.trim($('#pwd').val());
        var code = $.trim($('#code').val());

        //数据验证
        if(!(/^1[345678]\d{9}$/.test(phone))) return alertConfirm('注册号码不正确');
        if(password == '' || password.length < 6) return alertConfirm('密码长度应大于6位');
        if(!(/\d{6}/.test(code))) return alertConfirm('验证码不正确');

        //提交注册
        $.post('/register',$("#registerForm").serialize(),function(obj){
            if(obj.code == 1){
                alertConfirm(obj.data);
                timeOutUrl(obj.url)
            }else{
                alertConfirm(obj.data);
                resetToken('registerForm');
            }
        })
    });

</script>

</html>