<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form">
                            <input type="hidden" name="_method" value="PUT" >

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">路由名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" value="{$Route.title}" lay-verify="required|title" autocomplete="off" placeholder="设置路由名称" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">系统路由</label>
                                <div class="layui-input-block">
                                    <input type="text" name="router" value="{$Route.router}" lay-verify="router" autocomplete="off" placeholder="设置系统路由,例：/admin" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">菜单路由</label>
                                <div class="layui-input-block">
                                    <input type="text" name="menu" value="{$Route.menu}" lay-verify="router" autocomplete="off" placeholder="设置菜单路由,例：/admin（原则上保持唯一性）" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">系统路径</label>
                                <div class="layui-input-block">
                                    <input type="text" name="path" value="{$Route.path}" lay-verify="path" autocomplete="off" placeholder="设置系统路径,例：admin/index/index" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">路由图标</label>
                                <div class="layui-input-block">
                                    <input type="text" name="icon" value="{$Route.icon}" lay-verify="icon" autocomplete="off" placeholder="设置路由图标,例：#xe653;" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">路由状态</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" {$Route.status ?= 'checked'} name="status" value="1" lay-skin="switch" lay-text="开启|禁用">
                                </div>
                            </div>


                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">父级路由</label>
                                <div class="layui-input-block ">
                                    <select name="pid" lay-filter="selectPId">
                                        <option value="0">一级目录</option>
                                        {volist name="main" id="m"}
                                            {if ($Route.id != $m.id)}
                                            <option value="{$m.id}" {$Route.pid==$m.id ?= 'selected'} >{$m.title}</option>
                                            {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md" id="isOpen" {if !$Route.main} style="display:none" {/if} >
                                <label class="layui-form-label">是否展开</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="open" {$Route.open ?='checked'} value="1" lay-skin="switch" lay-text="展开|收起">
                                </div>
                            </div>

                           <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">是否主目录</label>
                                <div class="layui-input-block">
                                    <input type="checkbox"  id="isMain" {$Route.main ?= 'checked'} name="main" value="1" lay-skin="switch" lay-text=" 是 | 否 ">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">配置项路由</label>
                                <div class="layui-input-block">
                                    <input type="checkbox"  {$Route.opts ?= 'checked'} name="opts" value="1" lay-skin="switch" lay-text=" 是 | 否 ">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  layui.use(['form', 'route'], function() {
    var $ = layui.jquery,
        form = layui.form,
        route = layui.route,
        layer = layui.layer;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    form.render();

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 1 || value.length > 25) {
                return '路由名称长度应在1-25个字符之间';
            }
        },
        router:function(value) {
            if(value != ''){
                var ret = /(^\/)\w*/;
                if(!ret.test(value)){
                    return '路由错误格式,例：/admin';
                }
            }
        },
        path:function(value){
            if(value != ''){
                var ret = /(^[a-zA-Z])\w*/;
                if(!ret.test(value)){
                    return '系统路径错误格式,例：admin/index/index';
                }
            }
        },
        icon:function(value) {
            if(value != ''){
                var ret = /(^#)[a-z0-9]{5}(;)$/;
                if(!ret.test(value)){
                    return '路由图标格式错误，例：#xe653;';
                }
            }
        }
    });

    form.on('select(selectPId)',function(data){
       data.value == 0 ? $('#isOpen').css('display','') : $('#isOpen').css('display','none');
    });

    //监听提交
    form.on('submit(form_submit)', function(data) {
        if(!data.field.status){
            data.field.status = 0;
        }
        if(!data.field.open){
            data.field.open = 0;
        }
        if(!data.field.main){
            data.field.main = 0;
        }
        $.post("/aoogi/router/"+"{$Route.id}",data.field,function(res){
            layer.msg(res.msg);
            if(res.url != "")
                window.location.href = "#" + res.url;

        });
        return false;
    });

  });
</script>

<style scoped>

</style>