
<!--引入头部文件-->
{include file="default/header" title="分类" keywords="Aoogi商城系统"}

{load href="/static/index/css/category.css" /}

<!--产品分类列表模块-->
<div class="category">
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav3.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav2.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav1.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav3.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav2.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav1.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav3.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav2.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav1.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav3.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav2.png" />
            <h2>iPhone</h2>
        </a>
    </div>
    <div class="category-list">
        <a href="/list">
            <img src="/static/index/images/nav1.png" />
            <h2>iPhone</h2>
        </a>
    </div>

</div>




<!--引入加载footer文件-->
{include file="default/footer" /}


<script>



</script>

</html>