
<!--引入头部文件-->
{include file="default/header" title="商品详情" keywords="Aoogi商城系统"}

{load href="/static/index/css/details.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}

<header class="banner">
    <div class="swiper-container" id="banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/index/images/goods1.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/index/images/goods2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/index/images/goods3.jpg"/>
            </div>
        </div>
    </div>
</header>
<!--返回模块 -->
<div class="back">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png"/>
    </a>
</div>

<!--商品标题模块-->
<div class="details-title">
    <div class="title-main">
        <h3>iPhone XR-大屏幕上见</h3>
        <p>畅想科技未来不得不见的可以来现</p>
        <span class="left">￥2500.00</span>
        <span class="right">￥3000.00</span>
    </div>

    <div class="title-vice">
        <p>发货地：合肥 </p>
        <p>销量：1200 </p>
        <p>邮费：￥0.00 </p>
    </div>

    <!--图标-->
    <div class="title-icon">
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-1.png" />
        </div>
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-2.png" />
        </div>
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-3.png" />
        </div>
        <div class="icon-img">
            <img src="/static/index/images/goods-icon-4.png" />
        </div>
    </div>
    <!--参数模块-->
    <div class="title-param" >
        <div class="param-title" id="paramTitle">
            <span>参数规格</span>
            <img src="/static/index/images/direct-down.png" id="paramIcon">
        </div>

        <!--参数信息-->
        <div class="param-info" id="paramInfo">
            <div class="param-info-con">
                <span>品牌 ：</span>
                <p>小米</p>
            </div>
            <div class="param-info-con">
                <span>系列 ：</span>
                <p>MINX</p>
            </div>
            <div class="param-info-con">
                <span>处理器 ：</span>
                <p>Crole 9</p>
            </div>
        </div>
    </div>
</div>

<!--推荐模块-->
<div class="recomm">
    <div class="swiper-container" id="recomm">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods1.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods2.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods3.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods1.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods2.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods3.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods1.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods2.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods3.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods1.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods2.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods3.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods1.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods2.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recomm-list">
                    <a href="">
                        <img src="/static/index/images/goods3.jpg">
                        <div class="recomm-list-con">
                            <h3>小米MIX3-为发烧友而生</h3>
                            <p>￥2500.00</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--商品详情模块-->
<div class="info">
    <div class="info-title">
        <h2 class="info-active" id="0">产品详情</h2>
        <h2 id="1">用户评论</h2>
    </div>

    <div class="info-con">
        <div class="swiper-container" id="info">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="info-con-img">
                        <img src="/static/index/images/goods1.jpg"/>
                        <img src="/static/index/images/goods2.jpg"/>
                        <img src="/static/index/images/goods1.jpg"/>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="info-comment">

                        <div class="comment-list">
                            <div class="comment-list-header">
                                <div class="list-header-img">
                                    <img src="/static/index/images/goods1.jpg"/>
                                </div>
                                <div class="list-header-title">
                                    <h2>随风却飘不起来</h2>
                                    <p>2018-10-02</p>
                                </div>
                                <div class="list-header-agree">
                                    <img src="/static/index/images/agree.png"/>
                                </div>
                            </div>
                            <div class="comment-list-content">
                                大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。乱石穿空，惊涛拍岸，卷起千堆雪。
                            </div>
                            <div class="comment-list-img">
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods2.jpg"/>
                                <img src="/static/index/images/goods3.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods2.jpg"/>
                            </div>
                            <div class="comment-list-img-big">
                                <img src=""/>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="comment-list-header">
                                <div class="list-header-img">
                                    <img src="/static/index/images/goods1.jpg"/>
                                </div>
                                <div class="list-header-title">
                                    <h2>随风却飘不起来</h2>
                                    <p>2018-10-02</p>
                                </div>
                                <div class="list-header-agree">
                                    <img src="/static/index/images/agree.png"/>
                                </div>
                            </div>
                            <div class="comment-list-content">
                                大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。乱石穿空，惊涛拍岸，卷起千堆雪。
                            </div>
                            <div class="comment-list-img">
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                            </div>
                            <div class="comment-list-img-big">
                                <img src=""/>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="comment-list-header">
                                <div class="list-header-img">
                                    <img src="/static/index/images/goods1.jpg"/>
                                </div>
                                <div class="list-header-title">
                                    <h2>随风却飘不起来</h2>
                                    <p>2018-10-02</p>
                                </div>
                                <div class="list-header-agree">
                                    <img src="/static/index/images/agree.png"/>
                                </div>
                            </div>
                            <div class="comment-list-content">
                                大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。乱石穿空，惊涛拍岸，卷起千堆雪。
                            </div>
                            <div class="comment-list-img">
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                                <img src="/static/index/images/goods1.jpg"/>
                            </div>
                            <div class="comment-list-img-big">
                                <img src=""/>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!--底部功能模块-->
<div class="bottom-content"></div>
<div class="goods-bottom">
    <div class="goods-bottom-icon">
        <div class="goods-bottom-icon-img" id="collect">
            <img src="/static/index/images/collection.png"/>
        </div>
        <div class="goods-bottom-icon-img">
            <a href="">
                <img src="/static/index/images/share.png"/>
            </a>
        </div>
        <div class="goods-bottom-icon-img">
            <a href="/car">
                <img src="/static/index/images/car.png"/>
            </a>
        </div>

    </div>
    <div class="goods-bottom-now">
        <a href="">
            立即购买
        </a>
    </div>
    <div class="goods-bottom-car">
        加入购物车
    </div>
</div>

<!--底部功能选项模块-->
<div class="bottom-param">
    <div class="bottom-param-title">
        <img src="/static/index/images/goods2.jpg" id="goodsImg">
        <div class="param-title-middle">
            <h2>小米MIX3 - 有你有我不见不散</h2>
            <div class="param-title-middle-price">
                <p>￥ </p><span id="goodsPrice">2500.00</span>
            </div>
            <div class="param-title-middle-price">
                <p>库存：</p><span id="goodsStock">1000</span>
            </div>
        </div>
        <div class="param-title-close">
            <img src="/static/index/images/close.png">
        </div>
    </div>

    <form id="car_form">
        <input type="hidden" name="id" value="1" />
        <div class="bottom-param-num">
            <span>购买数量：</span>
            <i class="param-num-icon icon-left"></i>
            <input type="text" name="num" value="1" id="goodsNum"/>
            <i class="param-num-icon icon-right"></i>
        </div>

        <div class="bottom-param-spec">
            <div class="spec-radio radio-active">
                <input type="radio" name="spec" checked value="0"/>
                <span>MIX3 移动版</span>
                <div class="spec-radio-hidden">
                    <p class="specImg">/static/index/images/goods2.jpg</p>
                    <p class="specPrice">2500</p>
                    <p class="specStock">1000</p>
                </div>
            </div>
            <div class="spec-radio">
                <input type="radio" name="spec" value="1"/>
                <span>MIX3 联通版</span>
                <div class="spec-radio-hidden">
                    <p class="specImg">/static/index/images/goods3.jpg</p>
                    <p class="specPrice">2600</p>
                    <p class="specStock">800</p>
                </div>
            </div>
            <div class="spec-radio">
                <input type="radio" name="spec" value="2"/>
                <span>MIX3 电信版</span>
                <div class="spec-radio-hidden">
                    <p class="specImg">/static/index/images/goods1.jpg</p>
                    <p class="specPrice">2300</p>
                    <p class="specStock">1200</p>
                </div>
            </div>
            <div class="spec-radio">
                <input type="radio" name="spec" value="3"/>
                <span>MIX3 全网通</span>
                <div class="spec-radio-hidden">
                    <p class="specImg">/static/index/images/goods2.jpg</p>
                    <p class="specPrice">3000</p>
                    <p class="specStock">500</p>
                </div>
            </div>

        </div>

        <div class="bottom-param-button">
            <button type="button" id="submit"> 确 定 </button>
        </div>

    </form>

</div>



</body>
<!--引入加载footer文件-->
<!--{include file="default/footer" /}-->

{load href="/static/index/lib/swiper-4.3.3.min.js" /}
{load href="/static/index/js/public.js" /}

<script>
    /*产品Banner图Swiper*/
    var bannerSwiper = new Swiper('#banner', {
        loop: true,
        effect:'coverflow',
        autoplay: true,
    });

    /*推荐产品Swiper*/
    var recommSwiper = new Swiper('#recomm', {
        slidesPerView:3
    });

    /*产品详情Swiper*/
    var infoSwiper = new Swiper('#info', {
        autoHeight:true,
        on:{
            slideChangeTransitionEnd:function(){
                var id = "#"+this.activeIndex;
                $(".info-title h2").siblings().removeClass("info-active");
                $(id).addClass("info-active");
            }
        }
    });

    $(".info-title h2").click(function(){
        $(this).siblings().removeClass("info-active");
        $(this).addClass("info-active");
        infoSwiper.slideTo($(this).attr('id'));
    });

    /*切换参数规格显示模式*/
    $("#paramTitle").click(function(){
       $("#paramInfo").toggle('slow',function(){
           switch($(this).css('display')){
               case 'block':
                   $("#paramIcon").attr('src','/static/index/images/direct-up.png');
                   break;
               default:
                   $("#paramIcon").attr('src','/static/index/images/direct-down.png');
                   break;
           }
       });
    });

    /*评论图显示*/
    $(".comment-list-img img").click(function(){
        $(this).parent().next().children('img').attr('src',$(this).attr('src'));
        $(this).parent().next().show()
    });
    /*评论图隐藏*/
    $(".comment-list-img-big").click(function(){
        $(this).hide();
    });

    /*商品参数选择控制*/
    $(".spec-radio").click(function(){
        $(this).siblings().removeClass("radio-active");
        $(this).addClass("radio-active");
        $(this).children('input').attr('checked','checked');
        $('#goodsImg').attr('src',$(this).find('.specImg').text());
        $('#goodsPrice').text($(this).find('.specPrice').text());
        $('#goodsStock').text($(this).find('.specStock').text());
        if(parseInt($("#goodsNum").val()) > parseInt($(this).find('.specStock').text()))
            return $("#goodsNum").val(parseInt($(this).find('.specStock').text()));

    });

    /*购物数量减法控制*/
    $(".icon-left").click(function(){
        var goods = $('#goodsNum');
        if(parseInt(goods.val()) <0 ) return $(goods).val(1);
        if(parseInt(goods.val())-1 > 0) return $(goods).val(goods.val()-1);

    });
    /*购物数量加法控制*/
    $(".icon-right").click(function(){
        var goods = $('#goodsNum');
        var stock = parseInt($('#goodsStock').text());
        if(parseInt(goods.val()) <0 ) return $(goods).val(1);
        if(parseInt(goods.val())+1 <= stock) return $(goods).val(parseInt(goods.val())+1);
    });
    /*判断输入数量是否合法*/
    $("#goodsNum").blur(function(){
        var reg = /^[1-9]+[0-9]*$/;
        var stock = parseInt($('#goodsStock').text());
        if(!reg.test($(this).val())) return $(this).val(1);
        if(parseInt($(this).val()) > stock) return $(this).val(parseInt(stock));
    });

    /*显示参数面板*/
    $(".goods-bottom-car").click(function(){
        $(".bottom-param").toggle();
    });
    /*关闭参数面板*/
    $(".param-title-close").click(function(){
        $(".bottom-param").hide();
    });

    /*参数提交*/
    $("#submit").click(function(){
        autoAlert($("#car_form").serialize());
        $(".bottom-param").hide();
    });

    /*收藏功能处理*/
    $("#collect").click(function(){
        $(this).children('img').attr('src','/static/index/images/collection-true.png')
    });


</script>

</html>