
<!--引入头部文件-->
{include file="default/header" title="首页" keywords="Aoogi商城系统"}

{load href="/static/index/css/index.css" /}
{load href="/static/index/css/goods-list.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}


<header class="carousel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="Banner" id="b"}
                <div class="swiper-slide">
                    {switch b.type}
                        {case 1}<a>{/case}
                        {case 2}<a href="/goods/{$b.goods_id}">{/case}
                        {case 3}<a href="/list">{/case}
                        {case 4}<a href="{$b.url}">{/case}
                        {default /}<a>
                    {/switch}
                        <img src="{$b.thumbnail}"/>
                    </a>
                </div>
            {/volist}

        </div>
    </div>
</header>

<div class="nav">
    <a href="/details">
        <img src="/static/index/images/nav3.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav2.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav1.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav3.png" />
        <p>iPhone</p>
    </a>
</div>

<!--推荐-->
<div class="recom">
    {volist name="Recom" id="r" key="k"}
        <div class="recom-list">
            <div class="recom-img {$k%2 ?= 'img-right'}">
                <img src="{$r.thumbnail}"/>
            </div>
            <a href="/details" class="recom-com {$k%2 ?= 'com-right'}">
                <h2>{$r.title}</h2>
                <span>{$r.goods_title}</span>
                <p>{$r.info}</p>
                <img src="/static/index/images/more.png"/>
            </a>
        </div>
    {/volist}

</div>

<!--产品列表-->

<div class="recom-title">
    <i class="ticon1"></i>
    <label>走过看看</label>
    <i class="ticon2"></i>
</div>

<div class="list">
    {volist name="Goods" id="g"}
        <div class="list-block" title="{$g.id}">
            <div class="block-img">
                <img src="{$g.thumbnail}">
            </div>
            <div class="block-info">
                <h2>{$g.title}</h2>
                <h3>{$g.info}</h3>
                <div class="block-info-price">
                    <p>￥{$g.sell_price}</p>
                    <p>￥{$g.origin_price}</p>
                </div>
            </div>

        </div>
    {/volist}

    <!--<div class="list-block" title="8">
        <div class="block-img">
            <img src="/static/index/images/goods1.jpg">
        </div>
        <div class="block-info">
            <h2>iPhone XR-大屏幕上见</h2>
            <h3>畅想科技未来不得不见的可以来现</h3>
            <div class="block-info-price">
                <p>￥<span>2500.00</span></p>
                <p>￥<span>3000.00</span></p>
            </div>
        </div>
    </div>-->

</div>

<!--引入加载footer文件-->
{include file="default/footer" /}

{load href="/static/index/lib/swiper-4.3.3.min.js" /}

<script>
    var mySwiper = new Swiper('.swiper-container', {
        //direction: 'vertical',
        slidesPerView: "auto",
        loop: true,
        effect:'coverflow',
        autoplay: true,
    });

    $(".list-block").on("click",function(){
        var detail = $(this).attr('title');
        window.location.href='/goods/'+detail;
    });

    window.addEventListener('touchmove', function(evt) {
        evt.preventDefault()
    });
</script>

</html>