
<!--引入头部文件-->
{include file="default/header" title="首页" keywords="Aoogi商城系统"}

{load href="/static/index/css/index.css" /}
{load href="/static/index/css/goods-list.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}

<!--banner图-->
<header class="carousel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="Banner" id="b"}
                <div class="swiper-slide">
                    {switch b.type}
                        {case 1}<a><img src="{$b.thumbnail}"/></a>{/case}
                        {case 2}<a href="/goods/{$b.goods_id}"><img src="{$b.thumbnail}"/></a>{/case}
                        {case 3}<a href="/list"><img src="{$b.thumbnail}"/></a>{/case}
                        {case 4}<a href="{$b.url}"><img src="{$b.thumbnail}"/></a>{/case}
                        {default /}<a><img src="{$b.thumbnail}"/></a>
                    {/switch}
                </div>
            {/volist}

        </div>
    </div>
</header>

<!--导航-->
<div class="nav">
    <a href="/details">
        <img src="/static/index/images/nav3.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav2.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav1.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav3.png" />
        <p>iPhone</p>
    </a>
</div>

<!--推荐-->
<div class="recom">
    {volist name="Recom" id="r" key="k"}
        <div class="recom-list">
            <div class="recom-img {$k%2 ?= 'img-right'}">
                <img src="{$r.thumbnail}"/>
            </div>
            <a href="/goods/{$r.goods_id}" class="recom-com {$k%2 ?= 'com-right'}">
                <h2>{$r.title}</h2>
                <span>{$r.goods_title}</span>
                <p>{$r.info}</p>
                <img src="/static/index/images/more.png"/>
            </a>
        </div>
    {/volist}

</div>

<!--产品列表-->

<div class="recom-title">
    <i class="ticon1"></i>
    <label>走过看看</label>
    <i class="ticon2"></i>
</div>

<div class="list">
    {volist name="Goods" id="g"}
        <a class="list-block"  href="/goods/{$g.id}">
            <div class="block-img">
                <img src="{$g.thumbnail}">
            </div>
            <div class="block-info">
                <h2>{$g.title}</h2>
                <h3>{$g.info}</h3>
                <div class="block-info-price">
                    <p>￥{$g.sell_price}</p>
                    <p>￥{$g.origin_price}</p>
                </div>
            </div>

        </a>
    {/volist}

</div>

<!--引入加载footer文件-->
{include file="default/footer" /}

{load href="/static/index/lib/swiper-4.3.3.min.js" /}

<script>
    var mySwiper = new Swiper('.swiper-container', {
        //direction: 'vertical',
        slidesPerView: "auto",
        loop: true,
        effect:'coverflow',
        autoplay: true,
    });

    /*$(".list-block").on("click",function(){
        var detail = $(this).attr('title');
        window.location.href='/goods/'+detail;
    });*/

    window.addEventListener('touchmove', function(evt) {
        evt.preventDefault()
    });
</script>

</html>