
<!--引入头部文件-->
{include file="default/header" title="首页" keywords="Aoogi商城系统"}

{load href="/static/index/css/index.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}


<header class="carousel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/index/images/bance.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/index/images/bance.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/index/images/bance.jpg"/>
            </div>
        </div>
    </div>
</header>

<div class="nav">
    <a href="/details">
        <img src="/static/index/images/nav3.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav2.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav1.png" />
        <p>iPhone</p>
    </a>
    <a href="#">
        <img src="/static/index/images/nav3.png" />
        <p>iPhone</p>
    </a>
</div>

<div class="recom">
    <div class="recom-list">
        <div class="recom-img">
            <img src="/static/index/images/recom.jpg"/>
        </div>
        <a href="/details" class="recom-com">
            <h2>iPhone XR 我们不见不苴右工要</h2>
            <span>大屏幕上见有右有在要地在村顶替</span>
            <p>通过 Apple GiveBack 回馈计划，你可以用符合条件的智能手机来以旧换新，享受最高达 RMB 4045 的折抵优惠**。这既有益于你，也有益于地球。</p>
            <img src="/static/index/images/more.png"/>
        </a>
    </div>
    <div class="recom-list">
        <div class="recom-img img-right">
            <img src="/static/index/images/recom.jpg"/>
        </div>
        <a href="" class="recom-com com-right">
            <h2>iPhone XR</h2>
            <span>大屏幕上见</span>
            <p>通过 Apple GiveBack 回馈计划，你可以用符合条件的智能手机来以旧换新，享受最高达 RMB 4045 的折抵优惠**。这既有益于你，也有益于地球。</p>
            <img src="/static/index/images/more.png"/>
        </a>
    </div>

</div>

<div class="recom-title">
    <i class="ticon1"></i>
    <label>走过看看</label>
    <i class="ticon2"></i>
</div>
<div class="goods-list">
    <div class="goods-block">
        <a href="">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg" />
            </div>
            <div class="block-cont">
                <h3>iPhone XR-大屏幕上见</h3>
                <p>畅想科技未来不得不见的可以来现</p>
                <label class="label-left">￥2500.00</label>
                <label class="label-right">￥2500.00</label>
            </div>
        </a>
    </div>
    <div class="goods-block">
        <a href="">
            <div class="block-img">
                <img src="/static/index/images/goods2.jpg" />
            </div>
            <div class="block-cont">
                <h3>iPhone XR-大屏幕上见</h3>
                <p>畅想科技未来不得不见的可以来现</p>
                <label class="label-left">￥2500.00</label>
                <label class="label-right">￥2500.00</label>
            </div>
        </a>
    </div>
    <div class="goods-block">
        <a href="">
            <div class="block-img">
                <img src="/static/index/images/goods3.jpg" />
            </div>
            <div class="block-cont">
                <h3>iPhone XR-大屏幕上见</h3>
                <p>畅想科技未来不得不见的可以来现</p>
                <label class="label-left">￥2500.00</label>
                <label class="label-right">￥2500.00</label>
            </div>
        </a>
    </div>
    <div class="goods-block">
        <a href="">
            <div class="block-img">
                <img src="/static/index/images/goods1.jpg" />
            </div>
            <div class="block-cont">
                <h3>iPhone XR-大屏幕上见</h3>
                <p>畅想科技未来不得不见的可以来现</p>
                <label class="label-left">￥2500.00</label>
                <label class="label-right">￥2500.00</label>
            </div>
        </a>
    </div>
    <div class="goods-block">
        <a href="">
            <div class="block-img">
                <img src="/static/index/images/goods2.jpg" />
            </div>
            <div class="block-cont">
                <h3>iPhone XR-大屏幕上见</h3>
                <p>畅想科技未来不得不见的可以来现</p>
                <label class="label-left">￥2500.00</label>
                <label class="label-right">￥2500.00</label>
            </div>
        </a>
    </div>
    <div class="goods-block">
        <a href="">
            <div class="block-img">
                <img src="/static/index/images/goods3.jpg" />
            </div>
            <div class="block-cont">
                <h3>iPhone XR-大屏幕上见</h3>
                <p>畅想科技未来不得不见的可以来现</p>
                <label class="label-left">￥2500.00</label>
                <label class="label-right">￥2500.00</label>
            </div>
        </a>
    </div>

</div>

<!--引入加载footer文件-->
{include file="default/footer" /}

{load href="/static/index/lib/swiper-4.3.3.min.js" /}

<script>
    var mySwiper = new Swiper('.swiper-container', {
        //direction: 'vertical',
        slidesPerView: "auto",
        loop: true,
        effect:'coverflow',
        autoplay: true,
    });
    /*window.addEventListener('touchmove', function(evt) {
        evt.preventDefault()
    });*/
</script>

</html>