
<!--引入头部文件-->
{include file="default/header" title="订单支付" keywords="Aoogi商城系统"}

{load href="/static/index/css/balance.css" /}


<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>订单支付</h2>
</header>

<!--结算金额-->
<div class="pay-money">
    <p><span>￥</span>250.00</p>
</div>
<!--结算模块-->
<div class="order">
    <form id="payForm">

        <input type="hidden" name="id" value="21521145221" readonly />
        <!--支付方式-->
        <div class="order-pay">

            <div class="pay-select">
                <i class="ali"></i>
                <p>支付宝支付</p>
                <div class="pay-select-sure pay-active">
                    <input type="radio" name="pay" value="1" class="paySelect" checked="checked">
                </div>
            </div>
            <div class="pay-select">
                <i class="wx"></i>
                <p>微信支付</p>
                <div class="pay-select-sure">
                    <input type="radio" name="pay" value="2" class="paySelect">
                </div>
            </div>
            <div class="pay-select">
                <i class="ye"></i>
                <p>余额支付 <span>(余额：250.00)</span></p>
                <div class="pay-select-sure" id="balance">
                    <input type="radio" name="pay" value="3" class="paySelect">
                </div>
            </div>
        </div>

    </form>
</div>

<div class="pay-submit">
    <button type="button" id="submitForm">马上支付</button>
</div>



<!--引入加载footer文件-->
<div class="bottom-content"></div>

</body>



<script>
    //帐户余额
    var balance = 25;
    //订单总额
    var sum = 30.00;
    /*支付方式选择控制*/
    $(".pay-select-sure").click(function(){
        if($(this).attr('id') == 'balance' && parseInt(sum) > parseInt(balance))
            return alertConfirm("余额不足，请选择其他支付方式");
        $(".pay-select-sure").removeClass("pay-active");
        $(".paySelect").attr("checked",false);
        $(this).addClass("pay-active");
        $(this).children("input").attr("checked",true);
    });


    $("#submitForm").click(function(){
       //console.log($("#orderForm").serialize()) ;
       //console.log($("#orderForm").serializeArray()) ;
       $.post('/post',$("#payForm").serialize(),function(obj){
           console.log(obj);
       })
    });

</script>

</html>