<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="test" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <title></title>
    {load href="/static/index/lib/flexible_css.js" /}
    {load href="/static/index/lib/flexible.js" /}
    {load href="/static/index/lib/jquery-3.3.1.min.js" /}

    <!--上传文件引入文件-->
    {load href="/static/plugin/aoupload/css/globle.css" /}
    {load href="/static/plugin/aoupload/js/webuploader.min.js" /}
    {load href="/static/plugin/aoupload/js/diyUpload.js" /}

</head>

<body>
<form id="dataForm">
<div class="data-header">
    <ul class="upload-ul clearfix">
        <li class="upload-pick">
            <div class="webuploader-container clearfix" id="headUpload"></div>
        </li>
    </ul>
</div>
</form>

<script>
    /*头像图片上传JS脚本*/
    var headUpload = $('#headUpload').diyUpload({
        swf:"/static/plugin/aoupload/Uploader.swf",
        buttonText : '',
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'testUploader',
        /*server:'/upLoader',*/
        //最大上传的文件数量
        fileNumLimit:5,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:500000 * 1024,
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png',
            mimeTypes:'image/jpg,image/jpeg,image/png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:120,
            height:120,
            quality:100,            // 图片质量，只有type为`image/jpeg`的时候才有效。
            allowMagnify:false,      // 是否允许放大，如果想要生成小图的时候不失真，此选项应该设置为false.
            crop:true,               // 是否允许裁剪。
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        //自定义内容信息
        custom:{
            inputName:'portrait',
            //input加入ID，只适用于单个上传图片
            inputId:'portrait_id',
            //是否开启单图上传，true|false
            single:true
        },
        success:function( data ) {
        },
        error:function( err ) {
            alertConfirm( '上传失败，请重新上传' );
        }
    });


    //数据提交
    /*$("#dataSubmit").click(function(){
        $.post('',$("#dataForm").serializeArray(),function(res){
            alertConfirm(res.msg);
            if(res.code == 1)
                timeOutUrl(res.url);
        });
    });*/

</script>

</body>

</html>