<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">
                        <form class="layui-form" id="goodsForm" lay-filter="formVal">
                            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                                <ul class="layui-tab-title">
                                    <li class="layui-this">基本信息</li>
                                    <li>规格设置</li>
                                    <li>参数设置</li>
                                </ul>

                                <div class="layui-tab-content">
                                    <!--产品基本信息-->
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品名称</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="title" lay-verify="required|title" autocomplete="off" placeholder="产品名称" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品副标题</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="info" lay-verify="required|title" autocomplete="off" placeholder="产品副标题" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品缩略图</label>
                                            <div class="layui-input-inline">
                                                <ul class="upload-ul clearfix">
                                                    <li class="upload-pick">
                                                        <div class="webuploader-container clearfix" id="thumbnailUpload"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填(尺寸比例 1:1)</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品轮播图</label>
                                            <div class="layui-input-inline">
                                                <ul class="upload-ul clearfix">
                                                    <li class="upload-pick">
                                                        <div class="webuploader-container clearfix" id="bannerUpload"></div>
                                                    </li>
                                                </ul>
                                                <button type="button" class="layui-btn" id="banAction" style="display:block"><i class="layui-icon">&#xe67c;</i>开始上传</button>
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填(尺寸比例 1:1)</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品原价</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="origin-price" lay-verify="required|price" autocomplete="off" placeholder="产品原价;例：100.00" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品售价</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="sell-price" lay-verify="required|price" autocomplete="off" placeholder="产品售价;例：100.00" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品成本价</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="cost-price" lay-verify="required|price" autocomplete="off" placeholder="产品成本价;例：100.00" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品邮费</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="franking" lay-verify="num" value="0" autocomplete="off" placeholder="产品邮费：为 0 则为包邮" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">默认销量</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="volume" lay-verify="num" autocomplete="off" value="0" placeholder="默认销量" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">发货地址</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="address" lay-verify="required|address" autocomplete="off" placeholder="发货地址" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品状态</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" checked="" name="status" value="1" lay-skin="switch" lay-text="上架|下架">
                                            </div>
                                        </div>
                                    </div>

                                    <!--产品规格信息-->
                                    <div class="layui-tab-item">

                                        <div class="layui-form-item">
                                            <div class="layui-input-inline">
                                                <input type="text" name="spec[0][name]" lay-verify="required|specName" autocomplete="off" placeholder="规格名称" class="layui-input">
                                            </div>
                                            <div class="layui-input-inline">
                                                <input type="number" name="spec[0][price]" lay-verify="required|specPrice" autocomplete="off" placeholder="产品价格" class="layui-input">
                                            </div>
                                            <div class="layui-input-inline">
                                                <input type="number" name="spec[0][stock]" lay-verify="required|specNum" autocomplete="off" placeholder="产品库存" class="layui-input">
                                            </div>
                                        </div>

                                        <button type="button" class="layui-btn layui-btn-normal" id="addSpec"><i class="layui-icon">&#xe654;</i>  增 加 新 规 格</button>
                                    </div>

                                    <!--产品参数信息-->
                                    <div class="layui-tab-item">

                                        <button type="button" class="layui-btn layui-btn-normal" id="addParam"><i class="layui-icon">&#xe654;</i>  增 加 新 参 数</button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--上传文件引入文件-->
{load href="/static/plugin/jquery/jquery-3.1.1.js" /}
{load href="/static/plugin/aoupload/css/globle.css" /}
{load href="/static/plugin/aoupload/js/webuploader.min.js" /}
{load href="/static/plugin/aoupload/js/diyUpload.js" /}

<script>
  layui.use(['element','form', 'layedit', 'route'], function() {
    var $ = layui.jquery,
        element = layui.element,
        form = layui.form,
        route = layui.route,
        layer = layui.layer;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    form.render();

    //表单默认值
    form.val("formVal", {
      "title": "小米MX3" // "name": "value"
      ,"info": "青春有你，我们不见不散"
      ,"origin-price": 3000.00
      ,"sell-price": 2500.00
      ,"cost-price": 2000.00
      ,"address": "合肥"
      ,"spec[0][name]": "移动版"
      ,"spec[0][price]": 2650.00
      ,"spec[0][stock]": 560
    });

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 4 || value.length > 30) {
                return '内容长度应在4-30个字符之间';
            }
        },
        price: [/^[0-9]+(.?)([0-9]{2})$/, '价格设置有误；例：10.00 或10.50'],
        num: [/^[0-9]*$/, '数值设置有误，应该为整数；例：10'],
        address: function(value) {
            if (value.length < 2 || value.length > 15) {
                return '内容长度应在2-15个字符之间';
            }
        },
        specName: function(value) {
            if (value.length < 2 || value.length > 6) {
                return '规格标题长度应在2-6个字符之间';
            }
        },
        specPrice: [/^[0-9]+(.?)([0-9]{2})$/, '规格价格设置有误；例：10.00 或10.50'],
        specNum: [/^[0-9]*$/, '库存设置有误，应该为整数；例：10'],
        paramTitle: function(value) {
            if (value.length < 2 || value.length > 15) {
                return '参数标题长度应在2-15个字符之间';
            }
        },
        paramContent: function(value) {
            if (value.length < 2 || value.length > 15) {
                return '参数值长度应在2-15个字符之间';
            }
        },
    });


    //监听提交
    form.on('submit(form_submit)', function(data) {

        var banner = $("input[name='banner[0]']");
        if(data.field.thumbnail == undefined){
            layer.msg('缩略图不能为空');
            return false;
        }
        if(banner.val() == '' || banner.length == 0){
            layer.msg('轮播图不能为空');
            return false;
        }
        $.post("/aoogi/goods",data.field,function(res){
            layer.msg(res.data);
            /*if(res.url != "")
                window.location.href = "#" + res.url;*/
            return false;
        });
        return false;
    });

  });
</script>


<script>

    //上传图片
    /*缩略图执行实例*/
    var thumbnailUpload = $('#thumbnailUpload').diyUpload({
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:50,
            height:50,
            quality:100,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/static/plugin/aoupload/upload.php',
        //最大上传的文件数量
        fileNumLimit:1,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'thumbnail',
        },
        success:function( data ) {
        },
        error:function( err ) { }
    });

    /*轮播图执行实例*/
    var bannerUpload = $('#bannerUpload').diyUpload({
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:50,
            height:50,
            quality:99,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:true,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:false,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/static/plugin/aoupload/upload.php',
        //最大上传的文件数量
        fileNumLimit:5,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'banner[]'
        },
        success:function( data ) {
        },
        error:function( err ) { }
    });

    $('#banAction').click(function(){
        bannerUpload.upload();
    });

    /*规格操作*/
    var specNum = 1;
    //添加规格信息
    $("#addSpec").click(function(){
        var specInfo = $(['<div class="layui-form-item">',
                          '<div class="layui-input-inline">',
                          '<input type="text" name="spec['+specNum+'][name]" lay-verify="required|specName" autocomplete="off" placeholder="规格名称" class="layui-input">',
                          '</div>',
                          '<div class="layui-input-inline">',
                          '<input type="number" name="spec['+specNum+'][price]" lay-verify="required|specPrice" autocomplete="off" placeholder="产品价格" class="layui-input">',
                          '</div>',
                          '<div class="layui-input-inline">',
                          '<input type="number" name="spec['+specNum+'][stock]" lay-verify="required|specNum" autocomplete="off" placeholder="产品库存" class="layui-input">',
                          '</div>',
                          '<div class="layui-form-mid layui-word-aux delSpec">',
                          '<button type="button" class="layui-btn  layui-btn-danger layui-btn-sm">',
                          '<i class="layui-icon">&#xe640;</i>',
                          '</button>',
                          '</div>',
                          '</div>'].join(''));
        $(this).before(specInfo);
        specNum++;
    });
    //删除规格信息
    $(document).on("click",".delSpec",function(){
        $(this).parent().remove();
    });

    /*参数操作*/
    var paramNum = 0;
    //添加规格信息
    $("#addParam").click(function(){
        var paramInfo = $(['<div class="layui-form-item">',
            '<div class="layui-input-inline">',
            '<input type="text" name="param['+paramNum+'][name]" lay-verify="required|paramTitle" autocomplete="off" placeholder="参数名称" class="layui-input">',
            '</div>',
            '<div class="layui-input-inline">',
            '<input type="text" name="param['+paramNum+'][price]" lay-verify="required|paramContent" autocomplete="off" placeholder="参数值" class="layui-input">',
            '</div>',
            '<div class="layui-form-mid layui-word-aux delSpec">',
            '<button type="button" class="layui-btn  layui-btn-danger layui-btn-sm">',
            '<i class="layui-icon">&#xe640;</i>',
            '</button>',
            '</div>',
            '</div>'].join(''));
        $(this).before(paramInfo);
        specNum++;
    });
    //删除规格信息
    $(document).on("click",".delParam",function(){
        $(this).parent().remove();
    });



</script>


<style scoped>

</style>