
<!--引入头部文件-->
{include file="default/header" title="订单结算" keywords="Aoogi商城系统"}

{load href="/static/index/css/balance.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}


<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>订单结算</h2>
</header>


<!--结算模块-->
<div class="order">
    <form id="orderForm">
    <!--结算地址-->
    <div class="order-address">
        {if $Address}
            <div class="address-info">
                <div class="address-title">
                    <p>收货人： {$Address.name}</p>
                    <p>{$Address.phone}</p>
                </div>
                <div class="address-posit">
                    <div class="address-posit-img">
                        <img src="/static/index/images/address.png">
                    </div>
                    <div class="address-posit-info">
                        <p>{$Address.city}</p>
                        <p>{$Address.street}</p>
                    </div>
                </div>
            </div>
        {else /}
            <div class="address-null">
                添加购物地址 ....
            </div>
        {/if}
        <div class="address-select">
            <a href="/address/select/{$Order.id}/{$Coupon.id|default=0}">
            <img src="/static/index/images/open.png">
            </a>
        </div>
        <input type="hidden" name="address_id" value="{$Address.id}">
    </div>

    <!--结算产品-->
    <div class="order-goods">
        {volist name="Goods" id="g"}
            <div class="order-goods-list">
                <div class="goods-list-img">
                    <img src="{$g.thumbnail}">
                </div>
                <div class="goods-list-cont">
                    <h2>{$g.title}</h2>
                    <div class="list-cont-param">
                        <p>{$g.name}</p>
                        <p>￥{$g.price|float}</p>
                    </div>
                    <div class="list-cont-num">
                        x {$g.num}
                    </div>
                </div>
            </div>
        {/volist}

        <!--<div class="order-goods-list">
            <div class="goods-list-img">
                <img src="/static/index/images/goods1.jpg">
            </div>
            <div class="goods-list-cont">
                <h2>小米 MIX2 为发烧的你而做</h2>
                <div class="list-cont-param">
                    <p>移动版</span></p>
                    <p>￥2500.00</p>
                </div>
                <div class="list-cont-num">
                    x 1
                </div>
            </div>
            <input type="hidden" name="goods[]" value="2" />
        </div>-->

    </div>

    <!--优惠信息-->
    <div class="order-discount">
        <div class="discount-info">
            <span>优惠券</span>
            <a href="/coupon/select/{$Order.id}/{$Address.id}"><i></i></a>
            <p>{if $Coupon.id}满{$Coupon.money_satisfy}减{$Coupon.money_derate}{else /}无{/if}</p>
            <!--<input type="hidden" name="coupon_id" value="56">-->
            <input type="hidden" name="coupon_id" value="{$Coupon.id|default=''}">
        </div>
        <div class="discount-info">
            <span>留言</span>
            <input type="text" name="comment" placeholder="和平台说点什么吧（选填）" id="comment"/>
        </div>
    </div>

    <!--支付方式-->
    <div class="order-pay">
        <h2>支付方式</h2>
        <div class="pay-select">
            <i class="ali"></i>
            <p>支付宝支付</p>
            <div class="pay-select-sure pay-active">
                <input type="radio" name="pay_type" value="1" class="paySelect" checked>
            </div>
        </div>
        <div class="pay-select">
            <i class="wx"></i>
            <p>微信支付</p>
            <div class="pay-select-sure ">
                <input type="radio" name="pay_type" value="2" class="paySelect" >
            </div>
        </div>
        <div class="pay-select">
            <i class="ye"></i>
            <p>余额支付 <span>(余额：{$Money|float})</span></p>
            <div class="pay-select-sure" id="balance">
                <input type="radio" name="pay_type" value="3" class="paySelect" readonly>
            </div>
        </div>
    </div>

    <!--结算信息-->
    <div class="order-info">
        <h2>订单结算</h2>
        <p>交易总金额：￥<sapn>{$Order.total_price|float}</sapn></p>
        <p>商品总金额：￥<sapn>{$Order.goods_price|float}</sapn></p>
        <p>优惠金额：￥<sapn>{$Coupon.money_derate|float}</sapn></p>
        <p>运费金额：￥<sapn>{$Order.franking_price|float}</sapn></p>
        <p>实付金额：￥<sapn>{$Order.total_price - $Coupon.money_derate}</sapn></p>
        <p>订单积分：<sapn>{$Order.integral}</sapn></p>
    </div>

    </form>
</div>


<!--订单提交模块-->
<div class="balance">
    <div class="balance-sum">
        <p>结算金额：￥<span class="periceSum">{$Order.total_price - $Coupon.money_derate}</span></p>
    </div>
    <div class="balance-button">
        <button type="button" id="submitForm" form="orderForm"> 订单支付 </button>
    </div>

</div>



<!--引入加载footer文件-->
{include file="default/footer" /}

{load href="/static/index/lib/swiper-4.3.3.min.js" /}

<script>

    var balance = "{$Money}";
    /*支付方式选择控制*/
    $(".pay-select-sure").click(function(){
        if($(this).attr('id') == 'balance' && parseInt($(".periceSum").text()) > parseInt(balance))
            return alertConfirm("余额不足，请选择其他支付方式");
        $(".pay-select-sure").removeClass("pay-active");
        $(".paySelect").attr("checked",false);
        $(this).addClass("pay-active");
        $(this).children("input").attr("checked",true);
    });


    $("#submitForm").click(function(){

        var comment = $.trim($("#comment").val());
        if(comment.length >100)
            return alertConfirm("留言信息请少于100个字");

       $.post('/payment/'+"{$Order.id}",$("#orderForm").serialize(),function(res){
           if(res.code == 1)
               $(window).attr('location',res.url);
           if(res.code == 0)
               alertConfirm(res.msg);
       })
    });

</script>

</html>