
<!--引入头部文件-->
{include file="default/header" title="订单详情" keywords="Aoogi商城系统"}


{load href="/static/index/css/order.css" /}


<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>订单详情</h2>
</header>

<!--详情模块-->
<div class="order-time">
    <div class="time-cont">
        <h2>{$Order.status_text}</h2>
        {if $Order.status==1}<p>订单剩余时间：<span id="countDown">00:00:00</span></p>{/if}
    </div>
    <img src="/static/index/images/order-pay.png" />
</div>

<!--地址模块-->
<div class="order-address">
    <i></i>
    <div class="address-cont">
        {if $Order.name}
            <p>{$Order.name}<span>{$Order.phone}</span></p>
            <p>{$Order.city}</p>
            <p>{$Order.street}</p>
        {else /}
            <div class="address-empty">
                <p>暂未添加收货地址哦 . . .</p>
            </div>
        {/if}
    </div>
</div>

<!--订单产品-->
<div class="order">
    <div class="order-list">
        {volist name="$Order.goods_order" id="g"}
            <div class="order-goods">
                <div class="order-list-left">
                    <img src="{$g.thumbnail}" >
                </div>
                <div class="order-list-middle">
                    <h2>{$g.title}</h2>
                    <p>{$g.name}</p>
                </div>
                <div class="order-list-right">
                    <p>￥{$g.price|float}</p>
                    <p>x {$g.num}</p>
                </div>
            </div>
        {/volist}

        <!--<div class="order-goods">
            <div class="order-list-left">
                <img src="/static/index/images/goods1.jpg" >
            </div>
            <div class="order-list-middle">
                <h2>小米MX3 与你相约-我在这里，你不来，我不走-我们不见不散，青春永在一路有你</h2>
                <p>青春移动版</p>
            </div>
            <div class="order-list-right">
                <p>￥2500.00</p>
                <p>x 5</p>
            </div>
        </div>-->
    </div>
</div>

<!--订单信息-->
<div class="order-info">
    <h2>订单信息</h2>
    <p>总金额：￥{$Order.total_price|float}</p>
    <p>优惠金额：￥{$Order.discount_price|float}</p>
    <p>运费金额：￥{$Order.franking_price|float}</p>
    <p>实付金额：￥{$Order.pay_price|float}</p>
    <p>订单积分：{$Order.integral}</p>
    <p>创建时间：{$Order.create_time}</p>
    <p>订单编号：{$Order.serial}</p>

</div>

<div class="order-bottom">

    {switch $Order.status}
        {case 1}
            <a class="cancelOrder">取消订单</a>
            <a href="/balance/{$Order.id}">立即付款</a>
        {/case}
        {case 2}
            <a class="receiptOrder" data-id="{$Order.id}">确认收货</a>
        {/case}
        {case 3}
            <a class="">联系售后</a>
            <a href="/comments/{$Order.id}">评论订单</a>
        {/case}
        {case 4}
            <a class="">订单完成</a>
        {/case}
    {/switch}
</div>


<!--引入加载footer文件-->
<div class="bottom-content"></div>

</body>



<script>



    /**
     * 取消订单操作
     * */
    $(".cancelOrder").click(function() {
        var id = $(this).attr('data-id');
        var _that = $(this);
        alertConfirm("确定取消该订单？", 'confirm', {
            cancelText:'看看再说',
            okText:'确认取消',
            onOk: function () {
                $.post('/order/'+id,{'_method':'DELETE'},function(res){
                    alertConfirm(res.msg);
                    if(res.code == 1)
                        _that.parents('.order-list').remove();

                });
            }
        });
    });

    /**
     * 确认收货操作
     * */
    $(".receiptOrder").click(function() {
        var id = $(this).attr('data-id');
        $.post('/order/'+id,{'_method':'PUT'},function(res) {
            alertConfirm(res.msg);
            if (res.code == 1)
                timeOutUrl("/order/{$Order.status}");
        });

    });


    /**倒计时显示*/
    var status = "{$Order.status}";

    if(status == 1){
        var outTime="{$outTime}";
        var now=new Date();
        var create  = new Date("{$Order.create_time}");
        var end = create.setHours(create.getHours()+parseInt(outTime));

        /*两个时间相减,得到的是毫秒ms,变成秒*/
        var result=Math.floor(end-now)/1000;
        var interval=setInterval(sub,1000); //定时器 调度对象
    }

    /*封装减1秒的函数*/
    function sub(){
        if (result>1) {
            result = result - 1;
            var second = Math.floor(result % 60);     // 计算秒 ，取余
            var minite = Math.floor((result / 60) % 60); //计算分 ，换算有多少分，取余，余出多少秒
            var hour = Math.floor((result / 3600) % 24); //计算小时，换算有多少小时，取余，24小时制除以24，余出多少小时
            var day = Math.floor(result / (3600*24));  //计算天 ，换算有多少天

            $("#countDown").html(day + "天" + hour + "小时" + minite + "分" + second + "秒");
        } else{
            window.clearInterval(interval);//这里可以添加倒计时结束后需要执行的事件
        }
    };








</script>







</html>