
<!--引入头部文件-->
{include file="default/header" title="订单列表" keywords="Aoogi商城系统"}

{load href="/static/index/css/roll-nav.css" /}
{load href="/static/index/css/order.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.css" /}
{load href="/static/index/lib/swiper-4.3.3.min.js" /}



<!--头部标题模块-->
<header class="header-title">
    <a href="/personal">
        <img src="/static/index/images/back.png">
    </a>
    <h2>订单列表</h2>
</header>

<!--模块导航-->
<div class="roll-nav">
    <div class="swiper-container" id="orderSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide typeSide {$Active=='1' ?='nav-active'}" data-type-id="1">
                <span>待付款</span>
            </div>
            <div class="swiper-slide typeSide {$Active=='2' ?='nav-active'}" data-type-id="2">
                <span>待收货</span>
            </div>
            <div class="swiper-slide typeSide {$Active=='3' ?='nav-active'}" data-type-id="3">
                <span>待评价</span>
            </div>
            <div class="swiper-slide typeSide {$Active=='4' ?='nav-active'}" data-type-id="4">
                <span>已完成</span>
            </div>
            <div class="swiper-slide typeSide {$Active=='5' ?='nav-active'}" data-type-id="5">
                <span>退换货</span>
            </div>

        </div>
    </div>

</div>

<!--列表模块-->
<div class="order" id="orderList">

    <!--{volist name="Order" id="o"}
        <div class="order-list">
            <a href="/orderDetails">
                {volist name="$o.goods_order" id="g"}
                    <div class="order-goods">
                        <div class="order-list-left">
                            <img src="{$g.thumbnail}" >
                        </div>
                        <div class="order-list-middle">
                            <h2>{$g.title}</h2>
                            <p>{$g.name}</p>
                        </div>
                        <div class="order-list-right">
                            <p>￥{$g.price|float}</p>
                            <p>x {$g.num}</p>
                        </div>
                    </div>
                {/volist}

            </a>

            <div class="order-list-bottom">
                <p>共计 {$o.goods_order|count} 件商品 合计：￥{$o.total_price|float} (含运费：￥ {$o.franking_price})</p>
                    <div class="bottom-button">
                        <a class="cancel cancelOrder" data-id="{$o.id}">取消订单</a>
                        <a href="/balance/{$o.id}" class="payOrder" >立即付款</a>
                    </div>

            </div>
        </div>
    {/volist}-->

    <!--<div class="order-list">
        <a href="/orderDetails">
            <div class="order-goods">
                <div class="order-list-left">
                    <img src="/static/index/images/goods1.jpg" >
                </div>
                <div class="order-list-middle">
                    <h2>小米MX3 与你相约-我在这里，你不来，我不走-我们不见不散，青春永在一路有你</h2>
                    <p>青春移动版</p>
                </div>
                <div class="order-list-right">
                    <p>￥2500.00</p>
                    <p>x 5</p>
                </div>
            </div>
        </a>

        <div class="order-list-bottom">
            <p>共计1件商品 合计：￥5000.00 (含运费：0.00)</p>
            <div class="bottom-button">
                <a  class="cancelOrder">取消订单</a>
                <a href="/pay" class="payOrder">立即付款</a>
            </div>

        </div>
    </div>-->

</div>
<div class="load">
    <p id='loadP'></p>
</div>








<script>

    var orderSwiper = new Swiper('#orderSwiper', {
        slidesPerView: "auto",
        freeMode:true,
        freeModeMomentum:false,
    });


    /**
     * 取消订单操作
     * */
    $(document).on("click",".cancelOrder",function(){
        var id = $(this).attr('data-id');
        var _that = $(this);
        alertConfirm("确定取消该订单？", 'confirm', {
            cancelText:'看看再说',
            okText:'确认取消',
            onOk: function () {
                $.post('/order/'+id,{'_method':'DELETE'},function(res){
                    alertConfirm(res.msg);
                    if(res.code == 1)
                        _that.parents('.order-list').remove();

                });
            }
        });
    });

    /**
     * 确认收货操作
     * */
    $(document).on("click",".receiptOrder",function(){
        var id = $(this).attr('data-id');
        var _that = $(this);
        $.post('/order/'+id,{'_method':'PUT'},function(res){
            alertConfirm(res.msg);
            if(res.code == 1)
                _that.parents('.order-list').remove();

        });

    });



</script>

{load href="/static/index/js/orderLoad.js" /}






</body>
</html>