<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form">

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">权限组名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required|title" autocomplete="off" placeholder="设置权限组名称" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">权限组状态</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" checked="" name="status" value="1" lay-skin="switch" lay-text="开启|禁用">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">权限</label>
                                <div class="layui-input-block">
                                    <div class="layui-collapse" lay-accordion="">
                                        {volist name="Route" id="vo" }
                                        {if $vo.pid ===0}

                                        <div class="layui-colla-item">
                                            <h2 class="layui-colla-title">
                                                <input type="checkbox" name="router_id[]" title="{$vo.title}" checked class="grade" value="{$vo.id}" >
                                            </h2>

                                            {volist name="Route" id="co" }
                                            {if $vo.id === $co.pid}
                                            <div class="layui-colla-content layui-show">
                                                <div class="layui-collapse" lay-accordion="">
                                                    <div class="layui-colla-item">
                                                        <h2 class="layui-colla-title">
                                                            <input type="checkbox" name="router_id[]" title="{$co.title}" checked class="father" value="{$co.id}">
                                                        </h2>
                                                        <div class="layui-colla-content">

                                                            {volist name="Route" id="go" }
                                                            {if $co.id === $go.pid}
                                                                <input type="checkbox" name="router_id[]" title="{$go.title}" checked class="sun" value="{$go.id}">
                                                            {/if}
                                                            {/volist}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {/if}
                                            {/volist}
                                        </div>

                                        {/if}
                                        {/volist}

                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  layui.use(['form', 'route', 'element'], function() {
    var $ = layui.jquery,
        form = layui.form,
        layer = layui.layer,
        route = layui.route,
        element = layui.element;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    form.render();

    element.init();

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 1 || value.length > 25) {
                return '权限组名称长度应在1-10个字符之间';
            }
        }
    });

    //监听提交
    form.on('submit(form_submit)', function(data) {
        $.post("/aoogi/permission",data.field,function(res){
            layer.msg(res.msg);
            if(res.url != "")
                window.location.href = "#" + res.url;

        });
        return false;
    });


    //监听checkbox
    form.on('checkbox()',function(obj){
        if(obj.elem.className == 'grade' || obj.elem.className == 'father'){
            var data = $(this).parent().parent().find("input[type='checkbox']");
            data.each(function(index, item){
                item.checked = obj.elem.checked;
            });
            form.render('checkbox');
        }
        if(obj.elem.className == 'sun'){
            if(obj.elem.checked){
                var father = $(this).parent().parent().find("input[type='checkbox']");
                var grader = $(this).parent().parent().parent().parent().parent().find("input[type='checkbox']");
                father[0].checked = obj.elem.checked;
                grader[0].checked = obj.elem.checked;
                form.render('checkbox');
            }
        }


    });



  });
</script>

<style scoped>

</style>