
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form" id="goodsForm" lay-filter="formVal">

                            <input type="hidden" name="_method" value="PUT" />

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">推荐标题</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="title" lay-verify="required|title" autocomplete="off" placeholder="推荐标题" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">*必填</div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">推荐信息</label>
                                <div class="layui-input-inline">
                                    <textarea name="info" lay-verify="required|info" placeholder="推荐信息内容" autocomplete="off" class="layui-textarea"></textarea>
                                </div>
                                <div class="layui-form-mid layui-word-aux">*必填</div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">链接产品</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="goods_title" lay-verify="required" placeholder="选择链接产品" readonly id="goodsTitle" class="layui-input">
                                    <input type="hidden" name="goods_id" lay-verify="required|number" id="goodsValue" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux" style="padding:4px 0!important;">
                                    <button type="button" id="selectGoods" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i>选择商品</button>
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">推荐状态</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" {$Recom.status ?="checked"} name="status" value="1" lay-skin="switch" lay-text="开启|禁用">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">推荐图</label>
                                <div class="layui-input-inline">
                                    <ul class="upload-ul clearfix">
                                        <li id="fileBox_WU_FILE" class="thumbnailList">
                                            <div class="viewThumb">
                                                <img src="{$Recom.thumbnail}">
                                            </div>
                                        </li>
                                        <li class="upload-pick">
                                            <div class="webuploader-container clearfix" id="thumbnailUpload"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="layui-form-mid layui-word-aux">*必填(尺寸保持一致，建议 2:1)</div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="form_submit">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-card" id="goodsTips" style="display:none">
    <div class="layui-card-header">
        <div class="self-search">
            <form class="layui-form">
                <input type="text" name="keyword" class="kit-search-input self-search-input" placeholder="搜索产品关键字..." />
                <button class="self-search-btn" lay-submit lay-filter="searchSubmit">
                    <i class="layui-icon">&#xe615;</i>
                </button>
            </form>
        </div>
    </div>
    <div class="layui-card-body">
        <!--表格主体-->
        <table id="tableHash" lay-filter="tIndex"></table>

        <!--状态显示控制-->
        <script type="text/html" id="showStatus">
            <input type="checkbox"  disabled lay-skin="switch" {{# if(d.status){ }}checked{{#} }} lay-text="上架|下架" >
        </script>

    </div>
</div>

<!--上传文件引入文件-->
{load href="/static/plugin/jquery/jquery-3.1.1.js" /}
{load href="/static/plugin/aoupload/css/globle.css" /}
{load href="/static/plugin/aoupload/js/webuploader.min.js" /}
{load href="/static/plugin/aoupload/js/diyUpload.js" /}

<script>
  layui.use(['form', 'route', 'jquery', 'table'], function() {
    var $ = layui.jquery,
        form = layui.form,
        route = layui.route,
        table = layui.table,
        layer = layui.layer;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    //表单渲染
    form.render();

      //表单默认值
      form.val("formVal", {
          "title": "{$Recom.title}",
          "info":"{$Recom.info}",
          "goods_title":"{$Recom.goods_title}",
          "goods_id":"{$Recom.goods_id}"
      });

    //表格数据获取及定义
    var tableLoad = table.render({
      method: 'post',
      limit: 10,
      limits:[10,20],
      elem: '#tableHash',
      id: 'tableHash',
      height: 'full-235',
      url: '/aoogi/goods/data', //数据接口
      text:'我们很努力，但是没有数据哦 ^_^',
      page: true, //开启分页
      cols: [   //表头
          [
          {field: 'id', title: 'ID', align: 'center', width:100},
          {field: 'title', title: '产品名称', align: 'center', width:459},
          {field: 'status', title: '产品状态', width:100, align: 'center', templet:'#showStatus'},
          {fixed: 'right', field:'id' ,title:'选择', align: 'center', width: 100, type: 'radio'}
           ]
      ]
    });

    /*
    * 监听Radio链接产品选择
    * @ checkGoods  array   定义选择产品接收变量
    * */
    var checkGoods = '';
    table.on('radio(tIndex)', function(obj){
      checkGoods=obj.data;
    });

    //监听搜索提交
    form.on('submit(searchSubmit)', function(data) {
      if(data.field.keyword === ''){
          layer.msg('请输入搜索关键词');
          return false;
      }
      tableLoad.reload({
          where:{keyword:data.field.keyword}
      });
      return false;
    });

    //监听弹层产品选择
    $("#selectGoods").on("click",function(){
        layer.open({
            type: 1,
            title: '选择链接产品', //不显示标题栏
            closeBtn: false,
            area: ['800px', '500px'],
            shade: 0,
            shadeClose: true,
            id: 'LAY_layuipro_hash', //设定一个id，防止重复弹出
            btn: ['确定', '关闭'],
            btnAlign: 'c',
            moveType: 1 ,//拖拽模式，0或者1
            content: $("#goodsTips"),
            end: function(){    //层销毁后触发的回调
                //隐藏弹层
                $("#goodsTips").hide();
            },
            yes: function(index, layero){   //确定按钮回调方法
                $("#goodsTitle").val(checkGoods.title);
                $("#goodsValue").val(checkGoods.id);
                layer.close(index); //如果设定了yes回调，需进行手工关闭
            }
        });
    });

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 2 || value.length > 30) {
                return '标题长度应在2-30个字符之间';
            }
        },
        info: function(value) {
            if (value.length < 20 || value.length > 50) {
                return "推荐信息内容长度应在20-50个字符之间";
            }
        }
    });

    //监听recom提交
    form.on('submit(form_submit)', function(data) {

        if(!data.field.status)
            data.field.status = 0;

        $.post("/aoogi/recom/"+"{$Recom.id}",data.field,function(res){
            layer.msg(res.data);
            if(res.url)
                window.location.href = "#" + res.url;
            return false;
        });
        return false;
    });

  });
</script>


<script>

    //上传图片
    /*缩略图执行实例*/
    $('#thumbnailUpload').diyUpload({
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:50,
            height:50,
            quality:100,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/uploader',
        //最大上传的文件数量
        fileNumLimit:1,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'thumbnail',
        },
        success:function( data ) {
            if(data.error == 0)
                $(".thumbnailList").hide();
                $(".upload-pick").hide();
        },
        error:function( err ) { }
    });


</script>


<style scoped>

</style>