<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form">
                            <input type="hidden" name="_method" value="PUT" />

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">参数名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" value="{$Conf.title}" lay-verify="required|title" autocomplete="off" placeholder="设置配置参数名称" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">参数值</label>
                                <div class="layui-input-block">
                                    <input type="text" name="param" value="{$Conf.param}" lay-verify="required" autocomplete="off" placeholder="设置配置参数值" class="layui-input">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  layui.use(['form', 'layedit', 'laydate','route'], function() {
    var $ = layui.jquery,
        form = layui.form,
        route = layui.route,
        layer = layui.layer;

    form.render();

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 1 || value.length > 25) {
                return '名称长度应在1-25个字符之间';
            }
        }
    });

    //监听提交
    form.on('submit(form_submit)', function(data) {
        $.post("/aoogi/config/"+"{$Conf.id}",data.field,function(res){
            layer.msg(res.data);
            if(res.url != "")
                window.location.href="#"+res.url;

        });
        return false;
    });

  });
</script>

<style scoped>

</style>