
<!--引入头部文件-->
{include file="default/header" title="收藏列表" keywords="Aoogi商城系统"}


{load href="/static/index/css/collect.css" /}
{load href="/static/index/css/goods-list.css" /}

<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>我的收藏</h2>
</header>


<!--列表模块-->
<div class="list">
    {volist name="Collect" id="c"}
        <div class="list-block" title="1">
            <div class="block-img">
                <a href="/goods/{$c.id}">
                    <img src="{$c.thumbnail}">
                </a>
            </div>
            <div class="block-info">
                <a href="/goods/{$c.id}">
                    <h2>{$c.title}</h2>
                    <h3>{$c.info}</h3>
                </a>
                <div class="block-info-price">
                    <p>￥{$c.sell_price}</p>
                    <p>￥{$c.origin_price}</p>
                </div>
            </div>
            <div class="block-del">
                <button type="button" class="outCollect" data-id="{$c.id}"><i class="c_del"></i></button>
            </div>
        </div>
    {/volist}

    <!--<div class="list-block" title="2">
        <div class="block-img">
            <img src="/static/index/images/goods1.jpg">
        </div>
        <div class="block-info">
            <h2>iPhone XR-大屏幕上见</h2>
            <h3>畅想科技未来不得不见的可以来现</h3>
            <div class="block-info-price">
                <p>￥<span>2500.00</span></p>
                <p>￥<span>3000.00</span></p>
            </div>
        </div>
        <div class="block-del">
            <button type="button" class="joinCar"><i class="c_car"></i></button>
            <button type="button" class="outCollect"><i class="c_del"></i></button>
        </div>
    </div>-->


</div>

<!--引入加载footer文件-->


</body>



<script>

    //取消收藏
    $(".outCollect").click(function() {
        var id = $(this).attr('data-id');
        var _that = $(this);
        $.post('/whether/'+id,'',function(obj){
            if(obj.code == 1){
                alertConfirm(obj.msg);
                _that.parent().parent().remove();
            }else{
                alertConfirm(obj.msg);
            }

        });
    });








</script>







</html>