
<!--引入头部文件-->
{include file="default/header" title="商品评论" keywords="Aoogi商城系统"}


{load href="/static/index/css/comments.css" /}

<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>商品评论</h2>
</header>

<div class="comments">
    <div class="comments-list">
        <div class="comments-goods">
            <img src="/static/index/images/goods1.jpg">
            <div class="goods-title">
                <p>分；十分；未付；藕丝佛；诶飓风就是开车发发国家安防十分</p>
                <p>16+256G</p>
            </div>
        </div>

        <div class="comments-grade">
            <p>产品满意度：</p>
            <div class="grade-star starSelect">
                <i class="star-active"></i>
                <input type="radio" name="star" value="1" />
            </div>
            <div class="grade-star starSelect">
                <i></i>
                <input type="radio" name="star" value="2" />
            </div>
            <div class="grade-star starSelect">
                <i></i>
                <input type="radio" name="star" value="3" />
            </div>
            <div class="grade-star starSelect">
                <i></i>
                <input type="radio" name="star" value="4" />
            </div>
            <div class="grade-star starSelect">
                <i></i>
                <input type="radio" name="star" value="5" />
            </div>
        </div>
        <div class="comments-content">
            <textarea name="content" placeholder="来说说您对此产品的使用感受吧..."></textarea>
        </div>
        <div class="comments-img">
        </div>

    </div>
</div>





<script>

</script>



</body>
</html>