
<!--引入头部文件-->
{include file="default/header" title="我的积分" keywords="Aoogi商城系统"}


{load href="/static/index/css/wallet.css" /}

<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>我的积分</h2>
</header>


<!--列表模块-->
<div class="wallet">
    <div class="wallet-money">
        <p><span>积分</span>{$Integral|float|default='0.00'}</p>
    </div>
    <div class="wallet-info">
        <h2>积分记录</h2>
        <div id="integralList">
            {volist name='Log' id='l'}
                <div class="wallet-list integral">
                    <p>{$l.create_time}</p>
                    <p>{$l.title}</p>
                    <p>{$l.type}{$l.integral}</p>
                </div>
            {/volist}
        </div>

        <!--<div class="wallet-list integral">
            <p>2018-12-12</p>
            <p>累积</p>
            <p>+12</p>
        </div>-->

    </div>

</div>

<div class="load"><p id='loadP'></p></div>


<script>



</script>

{load href="/static/index/js/integralLoad.js" /}

</body>
</html>