
<!--引入头部文件-->
{include file="default/header" title="个人中心" keywords="Aoogi商城系统"}

{load href="/static/index/css/personal.css" /}



<!--头部标题模块-->
<header class="header-personal">
    <div class="header-img">
        <img src="{$User.portrait|default='/static/index/images/default-head-0.png'}">
    </div>
    <div class="header-info">
        <p>{$User.name}</p>
    </div>

</header>

<!--钱包模块-->
<div class="wallet">
    <div class="wallet-title">
        <i></i><h2>我的钱包</h2>
    </div>
    <div class="wallet-cont">
        <a href="/wallet">
            <p>帐户余额 ： <span> ￥{$User.balance|float}</span></p>
        </a>
    </div>
</div>

<!--订单模块-->
<div class="order">
    <div class="order-list">
        <a href="/order">
            <i class="order-icon-1"></i>
            <p>待付款</p>
        </a>
    </div>
    <div class="order-list">
        <a href="/order">
            <i class="order-icon-2"></i>
            <p>待收货</p>
        </a>
    </div>
    <div class="order-list">
        <a href="/order">
            <i class="order-icon-3"></i>
            <p>待评价</p>
        </a>
    </div>
    <div class="order-list">
        <a href="/order">
            <i class="order-icon-4"></i>
            <p>已完成</p>
        </a>
    </div>
</div>

<!--列表模块-->
<div class="personal">
    <div class="personal-list">
        <a href="/coupon">
            <i class="per-icon-fav"></i>
            <p>优惠券</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="/integral">
            <i class="per-icon-inte"></i>
            <p>我的积分</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="/address">
            <i class="per-icon-ship"></i>
            <p>收货地址</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="/collect">
            <i class="per-icon-coll"></i>
            <p>我的收藏</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="">
            <i class="per-icon-msg"></i>
            <p>消息提醒</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="/data">
            <i class="per-icon-set"></i>
            <p>帐户设置</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="">
            <i class="per-icon-about"></i>
            <p>关于我们</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-list">
        <a href="">
            <i class="per-icon-tick"></i>
            <p>意见反馈</p>
            <i class="per-icon-open"></i>
        </a>
    </div>

    <div class="personal-out">
        <a href="/logout">
            退出登录
        </a>
    </div>

</div>




<!--引入加载footer文件-->
{include file="default/footer" /}

<script>




</script>

</html>