<style>
    tr,th{
        text-align:center !important;
    }
    tr img{
        width:50px;
    }
    .layui-table-cell{
        height:60px;
        line-height:60px;
    }
    .layui-form-label{
        width:90px!important;
    }
    .replace-img{
        width:110px;
        margin-right:10px;
    }

</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">


                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                            <ul class="layui-tab-title">
                                <li class="layui-this">订单基本信息</li>
                                <li>订单产品信息</li>
                                {if ($Order.status == '6') || ($Order.status == '7')}<li>售后申请信息</li>{/if}
                            </ul>

                            <div class="layui-tab-content">
                                <!--产品基本信息-->
                                <div class="layui-tab-item layui-show">
                                    <form class="layui-form" lay-filter="formVal">

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">订单用户</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.user_name}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">交易流水号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.serial}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">第三方交易号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.trade_no|default='无'}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">交易总金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.total_price|float}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品总金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.goods_price|float}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">优惠券</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.coupon}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">优惠金额</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="discount_price" readonly autocomplete="off"  class="layui-input">
                                            </div>

                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">运费金额</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="franking_price" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md orderUpdate">
                                            <label class="layui-form-label">支付金额</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="pay_price" readonly  autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md orderUpdate">
                                            <label class="layui-form-label">订单积分</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="integral" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md addressUpdate">
                                            <label class="layui-form-label">收货人姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="name" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md addressUpdate">
                                            <label class="layui-form-label">收货人电话</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="phone" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md addressUpdate">
                                            <label class="layui-form-label">收货城市</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="city" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md addressUpdate">
                                            <label class="layui-form-label">收货地址</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="street" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">客户留言</label>
                                            <div class="layui-input-inline">
                                                <textarea readonly class="layui-textarea">{$Order.comment|default='无'}</textarea>
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付方式</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.pay_type_text}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付状态</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" {$Order.pay_status ?= "checked" } disabled  lay-skin="switch" lay-text=" 已支付 | 未支付 ">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">订单状态</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.status_text}" readonly autocomplete="off"  class="layui-input">
                                            </div>

                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.pay_time|date='Y-m-d H:i:s'}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">下单时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" value="{$Order.create_time}" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">订单发货</label>
                                            <div class="layui-input-inline orderShip">
                                                <input type="checkbox" {$Order.shipment ?= "checked" } disabled  id="ship_status" lay-skin="switch" lay-text=" 已发货 | 未发货 ">

                                            </div>
                                        </div>
                                        {if ($Order.status == 1) || ($Order.status == 2)}
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="form_submit">立即提交</button>
                                            </div>
                                        </div>
                                        {/if}
                                    </form>
                                </div>

                                <!--产品规格信息-->
                                <div class="layui-tab-item">
                                    <table lay-filter="orderGoods">
                                        <thead>
                                        <tr>
                                            <th lay-data="{field:'id', width:100}">产品ID</th>
                                            <th lay-data="{field:'title'}">产品名称</th>
                                            <th lay-data="{field:'name',width:200}">产品规格</th>
                                            <th lay-data="{field:'thumbnail',width:150}">缩略图</th>
                                            <th lay-data="{field:'price',width:150}">产品价格</th>
                                            <th lay-data="{field:'num',width:150}">购买数量</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="$Order.goods_order" id="g" key="k"}
                                        <tr>
                                            <td>{$g.id}</td>
                                            <td>{$g.title}</td>
                                            <td>{$g.name}</td>
                                            <td><img src="{$g.thumbnail}" /></td>
                                            <td>￥{$g.price|float}</td>
                                            <td>{$g.num}</td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>

                                </div>

                                {if ($Order.status == '6') || ($Order.status == '7')}
                                    <!--售后申请信息-->
                                    <div class="layui-tab-item">
                                        <form class="layui-form" lay-filter="formReplace">
                                            <input type="hidden" name="_method" value="PUT">
                                        {volist name='$Order.replace' id='r'}
                                            <input type="hidden" name="replace[{$r.id}][id]" value="{$r.id}">

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">售后产品</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" value="{$r.replace_goods.title}" readonly autocomplete="off"  class="layui-input">
                                                </div>
                                            </div>

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">售后类型</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" value="{$r.type_text}" readonly autocomplete="off"  class="layui-input">
                                                </div>
                                            </div>

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">售后原因</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" value="{$r.reason}" readonly autocomplete="off"  class="layui-input">
                                                </div>
                                            </div>

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">产品问题图</label>
                                                <div class="layui-input-inline">
                                                    {volist name='$r.img_arr' id='m'}
                                                        <a href="{$m}" target="_blank">
                                                            <img src="{$m}" class="replace-img" />
                                                        </a>
                                                    {/volist}
                                                </div>
                                            </div>

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">备注说明</label>
                                                <div class="layui-input-inline">
                                                    <textarea readonly class="layui-textarea">{$r.info|default='无'}</textarea>
                                                </div>
                                            </div>

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">申请状态</label>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-radius layui-btn-xs  layui-btn-primary" style="margin-left:10px;width:90px;height:30px;"> {$r.status_text} </button>
                                                </div>
                                            </div>

                                            {if $r.status == '0'}
                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">申请处理</label>
                                                <div class="layui-input-inline">
                                                    <select name="replace[{$r.id}][status]" lay-verify="">
                                                        <option value="0">选择申请处理结果</option>
                                                        <option value="1">通过售后申请</option>
                                                        <option value="2">驳回售后申请</option>
                                                    </select>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">
                                                    *处理结果选择后不可变更
                                                </div>
                                            </div>
                                            {/if}

                                            {if $r.status > 2}
                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">回寄快递</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" value="{$r.company}" readonly autocomplete="off"  class="layui-input">
                                                </div>
                                            </div>

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">回寄单号</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" value="{$r.waybill}" readonly autocomplete="off"  class="layui-input">
                                                </div>
                                            </div>
                                            {/if}

                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">反馈信息</label>
                                                <div class="layui-input-inline">
                                                    <textarea name="replace[{$r.id}][tickling]" class="layui-textarea">{$r.tickling}</textarea>
                                                </div>
                                            </div>

                                            {if $r.status == '3'}
                                            <div class="layui-form-item layui-input-md">
                                                <div class="layui-input-block">
                                                    <button type="button" class="layui-btn layui-btn-radius completeReplace" data-replace-key="{$r.id}">完成售后服务</button>
                                                </div>
                                            </div>
                                            {/if}

                                            <hr class="layui-bg-red">
                                        {/volist}
                                            {if $Order.status == 6}
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button class="layui-btn" lay-submit lay-filter="submitReplace">处理申请</button>
                                                    </div>
                                                </div>
                                            {/if}
                                        </form>
                                    </div>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    layui.use(['form', 'route', 'table'], function() {
        var $ = layui.jquery,
            form = layui.form,
            route = layui.route,
            table = layui.table,
            layer = layui.layer;


        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        //转换静态表格
        table.init('orderGoods', {
            height: 315 //设置高度

        });

        //表单渲染
        form.render();

        //表单默认值
        form.val("formVal", {
            "discount_price": "{$Order.discount_price|float}",
            "franking_price": "{$Order.franking_price|float}",
            "pay_price": "{$Order.pay_price|float}",
            "integral": "{$Order.integral}",
            "name": "{$Order.name}",
            "phone": "{$Order.phone}",
            "city": "{$Order.city}",
            "street": "{$Order.street}",
        });

        var info = '<div class="layui-form-mid layui-word-aux">*可更新</div>';
        if("{$Order.status}" == "1"){

            var orderUpdate =$(".orderUpdate");
            orderUpdate.find("input").attr("readonly",false);
            orderUpdate.append(info)

        }

        if("{$Order.status}" == "2"){
            var ship = '<button type="button" id="sureShipment" class="layui-btn layui-btn-radius layui-btn-xs" style="margin:8px 0 0 10px;width:70px;"> 确认发货 </button>';
            $(".orderShip").append(ship);

            var addressUpdate =$(".addressUpdate");
            addressUpdate.find("input").attr("readonly",false);
            addressUpdate.append(info)
        }

        /**
         * 更新订单发货状态
         * */
        $("#sureShipment").on('click',function(){
            var _that = $(this);
            $.post('/aoogi/order/shipment/'+"{$Order.id}",'',function(res){
               layer.msg(res.msg);
               if(res.code == 1){
                   _that.hide();
                   $("#ship_status").attr('checked',true);
                   form.render('checkbox');
               }
               return false;
            });

        });

        /**
         * 完成售后服务
         * */
        $(".completeReplace").on('click',function(){
            var id = $(this).attr('data-replace-key');
            var _that = $(this);
            $.post('/aoogi/replace/complete/'+"{$Order.id}"+'/'+id,'',function(res){
                layer.msg(res.msg);
                if(res.code == 1){
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000);
                }
                return false;
            });
        });

        /**监听提交售后处理*/
        form.on('submit(submitReplace)', function(data){

            $.post("/aoogi/replace/"+"{$Order.id}",data.field,function(res){
                layer.msg(res.msg);
                if(res.code == 1){
                    setTimeout(function () {
                        window.location.reload()
                    }, 2000);
                }


            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>





<style scoped>

</style>