<style>
    tr,th{
        text-align:center !important;
    }
    tr img{
        width:50px;
    }
    .layui-table-cell{
        height:60px;
        line-height:60px;
    }
    .layui-form-label{
        width:90px!important;
    }

</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">
                        <form class="layui-form" lay-filter="formVal">

                            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                                <ul class="layui-tab-title">
                                    <li class="layui-this">订单基本信息</li>
                                    <li>订单产品信息</li>
                                    <!--<li>参数设置</li>-->
                                </ul>

                                <div class="layui-tab-content">
                                    <!--产品基本信息-->
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">订单用户</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="user" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">交易流水号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="serial" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">第三方交易号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="trade_no" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">交易总金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="total_price" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">产品总金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="goods_price" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">优惠金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="discount_price" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">优惠券</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="coupon" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">运费金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="franking_price" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="pay_price" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">订单积分</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="integral" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">收货人姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="name" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">收货人电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="phone" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">收货地址</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="street" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">客户留言</label>
                                            <div class="layui-input-inline">
                                                <textarea placeholder="无" name="comment"  readonly class="layui-textarea"></textarea>
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付方式</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="pay_type" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付状态</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" {$Order.pay_status ?= "checked" } disabled  lay-skin="switch" lay-text=" 已支付 | 未支付 ">

                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">订单状态</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="status" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">支付时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="pay_time" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">下单时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="create_time" readonly autocomplete="off"  class="layui-input">
                                            </div>
                                        </div>

                                    </div>

                                    <!--产品规格信息-->
                                    <div class="layui-tab-item">
                                        <table lay-filter="orderGoods">
                                            <thead>
                                            <tr>
                                                <th lay-data="{field:'id', width:100}">产品ID</th>
                                                <th lay-data="{field:'title'}">产品名称</th>
                                                <th lay-data="{field:'name'}">产品规格</th>
                                                <th lay-data="{field:'classify_ud'}">产品分类</th>
                                                <th lay-data="{field:'thumbnail'}">缩略图</th>
                                                <th lay-data="{field:'price'}">产品价格</th>
                                                <th lay-data="{field:'num'}">购买数量</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {volist name="$Order.goods_order" id="g" key="k"}
                                                <tr>
                                                    <td>{$g.id}</td>
                                                    <td>{$g.title}</td>
                                                    <td>{$g.name}</td>
                                                    <td>{$g.classify_id}</td>
                                                    <td><img src="{$g.thumbnail}" /></td>
                                                    <td>{$g.price}</td>
                                                    <td>{$g.num}</td>
                                                </tr>
                                            {/volist}
                                            </tbody>
                                        </table>

                                    </div>

                                    <!--产品参数信息-->

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
  layui.use(['element','form', 'route', 'table'], function() {
    var $ = layui.jquery,
        element = layui.element,
        form = layui.form,
        route = layui.route,
        table = layui.table,
        layer = layui.layer;


    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    //转换静态表格
    table.init('orderGoods', {
      height: 315 //设置高度

    });

      //表单渲染
    form.render();

    //表单默认值
    form.val("formVal", {
        "user": "{$Order.user_name}",
        "serial": "{$Order.serial}",
        "trade_no": "{$Order.trade_no|default='无'}",
        "total_price": "￥{$Order.total_price|float}",
        "goods_price": "￥{$Order.goods_price|float}",
        "discount_price": "￥{$Order.discount_price|float}",
        "franking_price": "￥{$Order.franking_price|float}",
        "pay_price": "￥{$Order.pay_price|float}",
        "coupon": "{$Order.coupon}",
        "integral": "{$Order.integral}",
        "comment": "{$Order.comment}",
        "name": "{$Order.name}",
        "phone": "{$Order.phone}",
        "street": "{$Order.city}{$Order.street}",
        "pay_type": "{$Order.pay_type_text}",
        "status": "{$Order.status_text}",
        "pay_time": "{$Order.pay_time|date='Y-m-d H:i:s'}",
        "create_time": "{$Order.create_time}"
    });
  });
</script>





<style scoped>

</style>