
<!--引入头部文件-->
{include file="default/header" title="更新地址" keywords="Aoogi商城系统"}

{load href="/static/index/css/address.css" /}
{load href="/static/plugin/city/css/LArea.css" /}
{load href="/static/plugin/city/js/LArea.js" /}
{load href="/static/plugin/city/js/LAreaData2.js" /}

<!--头部标题模块-->
<header class="header-title">
    <a href="Javascript:history.go(-1);">
        <img src="/static/index/images/back.png">
    </a>
    <h2>更新地址</h2>
</header>

<!--添加模块-->
<div class="address">
    <form id="dataForm">

        <input type="hidden" name="_method" value="PUT" >

        <div class="address-input">
            <p>收件人姓名</p>
            <input type="text" name="name" placeholder="姓名" value="{$Address.name}" id="name"/>
        </div>

        <div class="address-input">
            <p>收件人电话</p>
            <input type="number" name="phone" placeholder="手机号码" maxlength="11" value="{$Address.phone}" id="phone"/>
        </div>

        <div class="address-input">
            <p>收件地址</p>
            <div class="content-block">
                <input id="cityInput" type="text" name="city" readonly="" autocomplete="off" placeholder="收件地址"  value="{$Address.city}">
                <input id="cityValue" type="hidden" value="20,234,504">
            </div>
        </div>

        <div class="address-input">
            <p>详细地址</p>
            <input type="text" name="street" placeholder="详细地址" value="{$Address.street}" id="street"/>
        </div>

        <div class="address-input">
            <p>默认地址</p>
            <input type="radio" name="choice" class="first-radio" value="1" {$Address.choice ?="checked"} />
            <i class="radioSel {$Address.choice ?='radio-active'}"></i>
        </div>

    </form>
</div>

<!--引入加载footer文件-->
<div class="bottom-content"></div>
<div class="bottom">
    <button type="button" id="submitForm">
        更新地址
    </button>

</div>

</body>

<!--城市三级联动控制-->
<script>

    var city = new LArea();
    city.init({
        'trigger': '#cityInput',
        'valueTo': '#cityValue',
        'keys': {
            id: 'value',
            name: 'text'
        },
        'type': 2,
        'data': [provs_data, citys_data, dists_data]
    });

    //控制初始位置，注意：该方法并不会影响到input的value
    city.value=[5,13,3];
</script>

<script>

    /*默认地址选择控制*/
    $(".radioSel").click(function () {
        $(this).toggleClass('radio-active');
        if($(this).hasClass('radio-active')){
            $(".first-radio").attr('checked',true);
        }else{
            $(".first-radio").attr('checked',false);
        }
    });

    //数据提交
    $("#submitForm").click(function(){
        var name = $.trim($("#name").val());
        var phone = $.trim($("#phone").val());
        var city = $.trim($("#cityInput").val());
        var street = $.trim($("#street").val());


        if(name == '' || name.length < 2 || name.length > 20)
            return alertConfirm('收货人姓名信息有误');
        if(!(/^1[345678]\d{9}$/.test(phone)))
            return alertConfirm('手机号码信息有误');
        if(city == '' || city.length < 5 || city.length > 30)
            return alertConfirm('收货城市信息有误');
        if(street == '' || street.length < 2 || street.length > 200)
            return alertConfirm('收货详细地址信息有误');

        $.post('/address/{$Address.id}',$("#dataForm").serialize(),function(obj){
            if(obj.code == 1){
                alertConfirm(obj.msg);
                timeOutUrl(obj.url);
            }else{
                alertConfirm(obj.msg);
            }

        });
    });

</script>

</html>