@rem:75rem;



/*列表*/
.data{
    padding:45/@rem 15/@rem 0 15/@rem;
    .data-header{
        padding:0 0 15/@rem 60/@rem;
        border-bottom:1px solid #e3e3e3;
        height:120/@rem;
        overflow:hidden;
        li{
            width:105/@rem;
            height:105/@rem;
            overflow:hidden;
        }
        img{
            width:105/@rem;
            height:105/@rem;
            border-radius:50%;
        }
        .upload-pick{
            position: relative;
            top:0;
            left:-105/@rem;
        }
    }
    .data-list{
        height:90/@rem;
        line-height:90/@rem;
        border-bottom:1px solid #e3e3e3;
        padding:0 15/@rem;
        label{
            float:left;
            font-size:5/@rem;

        }
        input,select{
            width:450/@rem;
            float:right;
            height:75/@rem;
            line-height:75/@rem;
            font-size:5/@rem;
            border:none;
            text-align:right;
            padding-right:30/@rem;
        }
    }
    .data-submit{
        height:150/@rem;
        text-align:center;
        margin-top:120/@rem;
        button{
            width:600/@rem;
            height:90/@rem;
            border:none;
            border-radius:8/@rem;
            background:#cc7f15;
            color:#fff;

        }
    }

}















