@rem:75rem;

body{
    background: -webkit-linear-gradient(rgba(204,127,21,0.2), rgba(194, 194, 194, 0.2) 50%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(204,127,21,0.2), rgba(194, 194, 194, 0.2) 50%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(204,127,21,0.2), rgba(194, 194, 194, 0.2) 50%); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(204,127,21,0.2), rgba(194, 194, 194, 0.2) 50%); /* 标准的语法 */
    font-size:25/@rem;
}

/*购物车列表模块*/
.car{
    padding: 0 30/@rem;
    margin:60/@rem 0 90/@rem 0;
    .car-null{
        width:100%;
        text-align:center;
        margin-top:375/@rem;
        img{
            width:240/@rem;
        }
    }
    .car-title{
        height:90/@rem;
        line-height:90/@rem;
        font-size:25/@rem;
        padding-left:105/@rem;
        color:#cc7f15;
    }
    .car-list{
        border-radius:7px;
        padding:30/@rem;
        margin-bottom:30/@rem;
        background:#fff;
        overflow: hidden;

        display: -webkit-box;
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;
        scrollbar-track-color: #fff;
        scrollbar-base-color:#fff;
        ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            background: #fff;
        }
        ::-webkit-scrollbar-track {/*滚动条里面轨道*/
            background: #fff;
        }
        .car-list-box{
            width:780/@rem;
            height:180/@rem;
        }
        .car-list-select{
            width:60/@rem;
            height:180/@rem;
            line-height:180/@rem;
            float:left;
            text-align:center;
            align-items: center;
            display: flex;
            input{
                display:none;
            }
            .list-select-box{
                width:30/@rem;
                height:30/@rem;
                margin:0 auto;
                background:url(/static/index/images/circle.png) no-repeat center center;
                background-size:30/@rem;
            }
            .select-box-active{
                background:url(/static/index/images/circle-active.png) no-repeat center center;
                background-size:30/@rem;

            }
        }
        .car-list-img{
            width:180/@rem;
            height:180/@rem;
            line-height:180/@rem;
            float:left;
            align-items: center;
            display: flex;
            img{
                width:80%;
                border-radius:15/@rem;
                margin:0 auto;
            }
        }
        .car-list-cont{
            padding-left:30/@rem;
            min-width:375/@rem;
            height:180/@rem;
            float:left;
            .list-cont-title{
                height:135/@rem;
                h2{
                    height:60/@rem;
                    line-height:60/@rem;
                    font-size:30/@rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* 这个表示要显示几行 */
                    -webkit-box-orient: vertical;
                }
                p{
                    font-size:25/@rem;
                    line-height:37/@rem;
                    color:#cc7f15;
                }
            }
            .list-cont-num{
                height:45/@rem;
                line-height:45/@rem;
                float:right;
                input{
                    width:105/@rem;
                    border:none;
                    border-bottom:1px solid #e5e5e5;
                    margin: 0 15/@rem;
                    text-align:center;
                    background:none;
                    font-size:23/@rem;
                }
                i{
                    display: inline-block;
                    width:30/@rem;
                    height:30/@rem;
                }
                .icon-left{
                    background:url('/static/index/images/jian.png') no-repeat;
                    background-size:30/@rem 30/@rem;
                }
                .icon-right{
                    background:url('/static/index/images/jia.png') no-repeat;
                    background-size:30/@rem 30/@rem;
                }
            }
        }
        .car-list-del{
            font-size:25/@rem;
            margin-left:60/@rem;
            width:75/@rem;
            float:left;
            height:180/@rem;
            line-height:180/@rem;
            text-align:center;
            background:#cc7f15;
            color:#fff;
            border-radius:5px;
        }

    }
}

/*购物车结算模块*/
.balance{
    width:100%;
    height:100/@rem;
    line-height:75/@rem;
    font-size:25/@rem;
    position: fixed;
    left: 0;
    bottom: 100/@rem;
    background:#fff;
    padding:8/@rem 19/@rem 8/@rem 30/@rem;
    border-bottom:8/@rem solid #f3f3f3;
    div{
        float:left;
    }
    .balance-all{
        width:75/@rem;
        height:75/@rem;
        align-items: center;
        display: flex;
        .balance-all-box{
            width:30/@rem;
            height:30/@rem;
            margin:0 auto;
            background:url(/static/index/images/circle.png) no-repeat center center;
            background-size:30/@rem;
        }
        .all-box-active{
            background:url(/static/index/images/circle-active.png) no-repeat center center;
            background-size:30/@rem;
        }
    }
    .balance-sum{
        width:390/@rem;
        text-align:center;
        span{
            color:#cc7f15;
        }
    }
    .balance-button{
        width:225/@rem;
        float:right;
        color:#fff;
        button{
            width:225/@rem;
            height:75/@rem;
            font-size:25/@rem;
            border:none;
            border-radius:750/@rem;
            background:#cc7f15;
            color:#fff;


        }

    }

}


















