body{
  background: -webkit-linear-gradient(#cc7f15, #ffffff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#cc7f15, #ffffff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#cc7f15, #ffffff); /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(204,127,21,0.2), rgba(194, 194, 194, 0.2) 50%); /* 标准的语法 */
  font-size:0.33333333rem;
}


/*购物车列表模块*/
.car{
  padding: 0 0.4rem;
  margin:0.8rem 0 1.2rem 0;
}
.car .car-null{
  width:100%;
  text-align:center;
  margin-top:5rem;
}
.car .car-null img{
  width:3.2rem;
}

.car .car-title{
  height:1.2rem;
  line-height:1.2rem;
  font-size:0.33333333rem;
  padding-left:1.4rem;
  color:#cc7f15;
}

.car .car-list{
  border-radius:7px;
  padding:0.4rem;
  margin-bottom:0.4rem;
  background:#fff;
  overflow: hidden;

  display: -webkit-box;
  overflow-x: scroll;
  -webkit-overflow-scrolling:touch;
  scrollbar-track-color: #fff;
  scrollbar-base-color:#fff;

}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background: #fff;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: #fff;
}
.car .car-list .car-list-box{
  width:10.4rem;
  height:2.4rem;
}
.car .car-list .car-list-select{
  width:0.8rem;
  height:2.4rem;
  line-height:2.4rem;
  float:left;
  text-align:center;
  align-items: center;
  display: flex;
}
.car .car-list .car-list-select input{
  display:none;
}
.car .car-list .car-list-select .list-select-box{
  width:0.4rem;
  height:0.4rem;
  border:1px solid #ccc;
  border-radius:50%;
  margin:0 auto;
}
.car .car-list .car-list-select .select-box-active{
  padding: 0.2rem;
  background:#cc7f15;

}
.car .car-list .car-list-img{
  width:2.4rem;
  height:2.4rem;
  line-height:2.4rem;
  float:left;
  align-items: center;
  display: flex;
}
.car .car-list .car-list-img img{
  width:80%;
  border-radius:0.2rem;
  margin:0 auto;
}
.car .car-list .car-list-cont{
  padding-left:0.4rem;
  width:5rem;
  height:2.4rem;
  float:left;
}
.car .car-list .car-list-cont .list-cont-title{
  height:1.8rem;
}
.car .car-list .car-list-cont .list-cont-title h2{
  height:0.8rem;
  line-height:0.8rem;
  font-size:0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.car .car-list .car-list-cont .list-cont-title p{
  font-size:0.33333333rem;
  line-height:0.5rem;
  color:#cc7f15;
}
.car .car-list .car-list-cont .list-cont-num{
  height:0.6rem;
  line-height:0.6rem;
  float:right;
}
.car .car-list .car-list-cont .list-cont-num input{
  width:1.4rem;
  border:none;
  border-bottom:1px solid #e5e5e5;
  margin: 0 0.2rem;
  text-align:center;
  background:none;
  font-size:0.30666666rem;
}
.car .car-list .car-list-cont .list-cont-num i{
  display: inline-block;
  width:0.4rem;
  height:0.4rem;
}
.car .car-list .car-list-cont .list-cont-num .icon-left{
  background:url('/static/index/images/jian.png') no-repeat;
  background-size:0.4rem 0.4rem;
}
.car .car-list .car-list-cont .list-cont-num .icon-right{
  background:url('/static/index/images/jia.png') no-repeat;
  background-size:0.4rem 0.4rem;
}

.car .car-list .car-list-del{
  font-size:0.33333333rem;
  margin-left:0.8rem;
  width:1rem;
  float:left;
  height:2.4rem;
  line-height:2.4rem;
  text-align:center;
  background:#cc7f15;
  color:#fff;
  border-radius:5px;
}


/*购物车结算模块*/
.balance{
  width:100%;
  height:1.2rem;
  line-height:1rem;
  font-size:0.33333333rem;
  position: fixed;
  left: 0;
  bottom: 1.43333333rem;
  background:#fff;
  padding:0.1rem 0.25rem 0.1rem 0.4rem;

}
.balance div{
  float:left;
}
.balance .balance-all{
  width:1rem;
  height:1rem;
  align-items: center;
  display: flex;
}
.balance .balance-all .balance-all-box{
  width:0.4rem;
  height:0.4rem;
  border:1px solid #ccc;
  border-radius:50%;
  margin:0 auto;
}
.balance .balance-all .all-box-active{
  padding: 0.2rem;
  background:#cc7f15;
}
.balance .balance-sum{
  width:5.2rem;
  text-align:center;

}
.balance .balance-sum span{
  color:#cc7f15;

}
.balance .balance-button{
  width:3rem;
  float:right;
  color:#fff;

}
.balance .balance-button button{
  width:3rem;
  height:1rem;
  font-size:0.33333333rem;
  border:none;
  border-radius:10rem;
  background:#cc7f15;
  color:#fff;


}



