

.list .list-block .block-del{
    padding:0.16rem 0;
}
.list .list-block .block-del button{
    width:2rem;
    height:0.72rem;
    line-height:0.72rem;
    font-size:0.32rem;
    color:#525252;
    border:1px solid #cc7f15;
    border-radius:0.2rem;
    background:none;
}
.list .list-block .block-del button:last-child{
    float:right;
}
