
/*列表*/
.data{
  padding:0.6rem 0.2rem 0 0.2rem;

}
.data .data-header{
  padding:0 0 0.2rem 0.8rem;
  border-bottom:1px solid #e3e3e3;
  height:1.6rem;
  overflow:hidden;
}
.data .data-header li{
  width:1.4rem;
  height:1.4rem;
  overflow:hidden;
}
.data .data-header img{
  width:1.4rem;
  height:1.4rem;
  border-radius:50%;
}
.data .data-header .upload-pick{
  position: relative;
  top:0;
  left:-1.4rem;
}
.data .data-list{
  height:1.2rem;
  line-height:1.2rem;
  border-bottom:1px solid #e3e3e3;
  padding:0 0.2rem;
}
.data .data-list label{
  float:left;
  font-size:0.33333333rem;

}
.data .data-list input,select{
  width:6rem;
  float:right;
  height:1rem;
  line-height:1rem;
  font-size:0.33333333rem;
  border:none;
  text-align:right;
  padding-right:0.4rem;
}

.data .data-submit{
  height:2rem;
  text-align:center;
  margin-top:1.6rem;
}
.data .data-submit button{
  width:8rem;
  height:1.2rem;
  border:none;
  border-radius:0.10666666rem;
  background:#cc7f15;
  color:#fff;

}


