
.banner{
  padding:0.10666666rem;
}
.banner img{
  width:100%;
  border-radius:5px;
}

/*详情标题*/
.details-title {
  padding: 0.2rem 0.4rem;
}
.details-title .title-main{
  line-height:0.50666666rem;
  overflow: hidden;
}
.details-title .title-main h3{
  font-size:0.4rem;
  height:0.50666666rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.details-title .title-main p{
  color:#505050;
  font-size:0.33333333rem;
  height:0.50666666rem;
  padding-left:0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.details-title .title-main span{
  font-size:0.30666666rem;
  height:0.8rem;
  line-height:0.8rem;
  padding-left:0.2rem;
}
.details-title .title-main .left{
  color:#cc7f15;
  font-size:0.33333333rem;
}
.details-title .title-main .right{
  color:#969696;
  text-decoration:line-through;
  float:right;
  padding-right:1rem;
}
.details-title .title-vice{
  border-top:1px solid #e5e5e5;
  text-align:center;
  height:1.2rem;
  line-height:1.2rem;
}
.details-title .title-vice p{
  font-size:0.30666666rem;
  float:left;
  width:33.33%;
  color:#969696;
}
.details-title .title-icon{
  padding:0.4rem 1rem;
  overflow: hidden;
}
.details-title .title-icon .icon-img{
  width:25%;
  float:left;
  text-align:center;
}
.details-title .title-icon .icon-img img{
  width:0.90666666rem;
}
.details-title .title-param{
  margin-bottom:0.30666666rem;
  border-bottom:1px solid #e5e5e5;
}
.details-title .title-param .param-title{
  height:1rem;
  line-height:1rem;
  font-size:0.4rem;
}
.details-title .title-param .param-title img{
  width:0.50666666rem;
  margin:0.25333333rem 0.30666666rem 0.2rem 0;
  float:right;
}
.details-title .title-param .param-info{
  padding-left:0.4rem;
  color:#969696;
  font-size:0.33333333rem;
  display:none;
}
.details-title .title-param .param-info .param-info-con{
  height:0.6rem;
  line-height:0.6rem;
}
.details-title .title-param .param-info .param-info-con span{
  float:left;
}
.details-title .title-param .param-info .param-info-con p{
  float:left;
  padding-left:0.30666666rem;
}

/*产品推荐模块*/
.recomm{
  padding: 0 0.30666666rem;
}
.recomm .swiper-slide{
  width:3rem;
  margin-right:0.2rem;
}
.recomm .recomm-list{
  width:3rem;
  padding:0.14666666rem;
  border:1px solid #ccc;
  border-radius:5px;
}
.recomm .recomm-list a{
  display:block;
}
.recomm .recomm-list img{
  width:100%;
}
.recomm .recomm-list .recomm-list-con h3{
  color:#505050;
  font-size:0.33333333rem;
  height:0.50666666rem;
  line-height: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.recomm .recomm-list .recomm-list-con p{
  color:#cc7f15;
  font-size:0.30666666rem;
  height:0.50666666rem;
  line-height: 0.6rem;
}

/*商品详情底部模块*/
.goods-bottom{
  font-size:0.33333333rem;
  color:#fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  background: #ffffff;
  z-index: 999;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  text-align:center;

}
.goods-bottom a{
  display:block;
  color:#fff;
}
.goods-bottom .goods-bottom-icon{
  height: 1.33333333rem;
  position:fixed;
  left:0;
 }
.goods-bottom .goods-bottom-icon .goods-bottom-icon-img{
  float:left;
}
.goods-bottom .goods-bottom-icon .goods-bottom-icon-img i{
  width:0.94666666rem;
  height:1.33333333rem;
  display:block;
}
i.icon-col{
  background:url(/static/index/images/collection.png) no-repeat center center;
  background-size:0.54666666rem;
}
i.icon-col-active{
  background:url(/static/index/images/collection-true.png) no-repeat center center;
  background-size:0.54666666rem;
}
i.icon-share{
  background:url(/static/index/images/share.png) no-repeat center center;
  background-size:0.54666666rem;
}
i.icon-car{
  background:url(/static/index/images/car.png) no-repeat center center;
  background-size:0.54666666rem;
}
.goods-bottom .goods-bottom-now{
  width:2.8rem;
  background:#cc7f15;
  position:fixed;
  right:2.50666666rem;
  border-right:1px solid #fff;
  border-top-left-radius: 0.8rem;
}
.goods-bottom .goods-bottom-car{
  color:#fff;
  width:2.50666666rem;
  background:#cc7f15;
  position:fixed;
  right:0;
}

.bottom-param{
  width:100%;
  position: fixed;
  bottom:1.33333333rem;
  background:#fff;
  z-index: 999;
  border-bottom:1px solid #e5e5e5;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:0.50666666rem 0.6rem 0.30666666rem 0.6rem;
  display:none;

}
.bottom-param .bottom-param-title{
  overflow: hidden;
}
.bottom-param .bottom-param-title img{
  width:2rem;
  float:left;
}
.bottom-param .bottom-param-title .param-title-middle{
  float:left;
  height:2rem;
  padding:0.2rem 0 0 0.30666666rem;
}
.bottom-param .bottom-param-title .param-title-middle h2{
  width:5.50666666rem;
  font-size:0.33333333rem;
  height:0.90666666rem;
  line-height:0.90666666rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.bottom-param .bottom-param-title .param-title-middle .param-title-middle-price{
  width:5rem;
  font-size:0.30666666rem;
  height:0.45333333rem;
  line-height:0.45333333rem;
  color:#cc7f15;
}
.bottom-param .bottom-param-title .param-title-middle .param-title-middle-price p ,span{
  float:left;
}
.bottom-param .bottom-param-title .param-title-close{
  width:0.8rem;
  float:right;
}
.bottom-param .bottom-param-title .param-title-close img{
  width:0.6rem;
  float:right;
}
.bottom-param .bottom-param-num{
  height:1rem;
  line-height:1rem;
  font-size:0.33333333rem;
  margin:0.50666666rem 0 0.30666666rem 0;
}
.bottom-param .bottom-param-num span{
  margin-right:0.5rem;
}
.bottom-param .bottom-param-num .param-num-icon{
  display: inline-block;
  width:0.5rem;
  height:0.5rem;
}
.bottom-param .bottom-param-num .icon-left{
  background:url('/static/index/images/jian.png') no-repeat;
  background-size:0.5rem 0.5rem;
}
.bottom-param .bottom-param-num .icon-right{
  background:url('/static/index/images/jia.png') no-repeat;
  background-size:0.5rem 0.5rem;
}
.bottom-param .bottom-param-num input{
  width:2.50666666rem;
  border:none;
  border-bottom:1px solid #e5e5e5;
  margin: 0 0.2rem;
  text-align:center;
}
.bottom-param .bottom-param-spec {
  padding:0.2rem 0;
  overflow: hidden;
}
.bottom-param .bottom-param-spec .spec-radio{
  font-size:0.33333333rem;
  height:1rem;
  line-height:1rem;
  padding:0 0.2rem;
  border:1px solid #ccc;
  border-radius:5px;
  float:left;
  margin-right:0.2rem;
  margin-bottom:0.2rem;
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
}
.bottom-param .bottom-param-spec .spec-radio input,.spec-radio-hidden{
  display:none;
}
.bottom-param .bottom-param-spec .radio-active{
  background:#dc7b41;
  border-color:#dc7b41;
  color:#fff;

}
.bottom-param .bottom-param-button{
  text-align:center;
  padding:0.30666666rem 0;
}
.bottom-param .bottom-param-button button{
  height:1rem;
  line-height: 1rem;
  background:#a56713;
  border:none;
  border-radius:7px;
  color:#fff;
  font-size:0.33333333rem;
  width:8.8rem;
}

/*产品详情模块*/
.info{
  margin-top:0.5rem;
}
.info .info-title{

  width:100%;
  height:1.33333333rem;
  line-height:1.33333333rem;
  text-align:center;
}
.info .info-title h2{
  font-size:0.33333333rem;
  width:50%;
  color: #b2b2b2;
  float:left;
  background: rgba(226, 226, 226, 0.2);
  border-top:1px solid rgba(226, 226, 226,0.6);
  border-bottom:1px solid rgba(226, 226, 226,0.6);
}
.info .info-title .info-active{
  color:#cc7f15;
  border-top:1px solid rgba(204,127,21,0.6);
  border-bottom:1px solid rgba(204,127,21,0.6);
}

.info .info-con{
  padding-top:0.30666666rem;
}
.info .info-con .info-con-img img{
  width:100%;
  display:block;
}
.info .info-con .info-comment{

}
.info .info-con .info-comment .comment-list{
  padding:0.2rem 0.5rem;
  overflow: hidden;
  border-bottom:1px solid #e5e5e5;
}
.info .info-con .info-comment .comment-list .comment-list-header{
  width:100%;
  height:1.4rem;
  border-bottom:1px solid #e5e5e5;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-img{
  width:1rem;
  height:1.4rem;
  line-height:1.4rem;
  float:left;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-img img{
  width:100%;
  margin-top:0.2rem;
  border-radius:50%;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-title{
  width:6.50666666rem;
  float:left;
  height:1.4rem;
  padding-left:0.30666666rem;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-title h2{
  font-size:0.33333333rem;
  line-height:0.90666666rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-title p{

  font-size:0.30666666rem;
  color:#505050;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-agree{
  height:1.4rem;
  float:left;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-agree i{
  display:block;
  width:0.6rem;
  height:0.6rem;
  background:url(/static/index/images/agree.png) no-repeat center;
  background-size:0.6rem;

}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-agree .agree-active{
  background:url(/static/index/images/agree-true.png) no-repeat center;
  background-size:0.6rem;
}
.info .info-con .info-comment .comment-list .comment-list-header .list-header-agree p{
  height:0.8rem;
  line-height:0.8rem;
  font-size:0.32rem;
}
.info .info-con .info-comment .comment-list .comment-list-content{
  font-size:0.33333333rem;
  padding:0.2rem;
  text-indent:0.70666666rem;
  line-height:0.50666666rem;
}
.info .info-con .info-comment .comment-list .comment-list-img img{
  width:1.6rem;
 }

.img-big{
  z-index: 9999;
  width:100%;
  height:100%;
  padding:0 0.12rem;
  background: rgba(18, 18, 18, 0.8);
  position:fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
}
.img-big img{
  width:100%;
}




