@rem:75rem;

.carousel{
    padding:15/@rem 27/@rem;
    img{
        width:100%;
        border-radius:18/@rem;
        box-shadow: 5px 5px 5px #aeaeae;

    }
}
.nav{
    display:flex;
    text-align:center;
    font-size:27/@rem;
    a{
        width:25%;
        color:#0C0C0C;
        img{
            width:90/@rem;
            height:90/@rem;
            border-radius:50%;
            margin-bottom:15/@rem;
        }
    }
}
.recom{
    overflow:hidden;
    margin-top:15/@rem;
    padding:15/@rem 23/@rem;
    .recom-list{
        overflow:hidden;
        border:1px solid #ccc;
        border-radius:18/@rem;
        padding:15/@rem 23/@rem;
        margin-top:15/@rem;
        .recom-img{
            width:50%;
            float:left;
            img{
                width:100%;
            }
        }
        .recom-com{
            color:#0C0C0C;
            width:50%;
            float:left;
            padding-left:15/@rem;
            h2{
                font-size:27/@rem;
                margin-bottom:8/@rem;
                height:30/@rem;
                line-height: 32/@rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* 这个表示要显示几行 */
                -webkit-box-orient: vertical;
            }
            span{
                font-size:25/@rem;
                height:25/@rem;
                line-height:26/@rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* 这个表示要显示几行 */
                -webkit-box-orient: vertical;
            }
            p{
                font-size:23/@rem;
                margin-top:8/@rem;
                height:81/@rem;
                line-height:28/@rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* 这个表示要显示几行 */
                -webkit-box-orient: vertical;
            }
            img{
                margin-top:15/@rem;
                float:right;
                width:106/@rem;
                height:13/@rem;
            }
        }
        .img-right {
            float:right;
        }
        .com-right{
            text-align:right;
            padding:0 15/@rem 0 0;
        }
    }
}

@media screen and (min-width: 800px) {
    .recom .recom-list {
        width:45%;
        margin:0 2.5%;
        float:left;
    }
}




