
.carousel{
  padding:0.2rem 0.36rem;
}
.carousel img{
  width:100%;
  border-radius:0.24rem;
  box-shadow: 5px 5px 5px #aeaeae;

}
.nav{
  display:flex;
  text-align:center;
  font-size:0.36rem;
}
.nav a{
  width:25%;
  color:#0C0C0C;
}
.nav a img{
  width:1.2rem;
  height:1.2rem;
  border-radius:50%;
  margin-bottom:0.2rem;
}
.recom{
  overflow:hidden;
  margin-top:0.2rem;
  padding:0.2rem 0.30666666rem;
}
.recom .recom-list{
  overflow:hidden;
  border:1px solid #ccc;
  border-radius:0.24rem;
  padding:0.2rem 0.30666666rem;
  margin-top:0.2rem;
}
.recom .recom-list .recom-img{
  width:50%;
  float:left;
}
.recom .recom-list .recom-img img{
  width:100%;
}

.recom .recom-list .recom-com{
  color:#0C0C0C;
  width:50%;
  float:left;
  padding-left:0.2rem;
}
.recom .recom-list .recom-com h2{
  font-size:0.36rem;
  margin-bottom:0.10666666rem;
  height:0.4rem;
  line-height: 0.42666666rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.recom .recom-list .recom-com span{
  font-size:0.33333333rem;
  height:0.33333333rem;
  line-height: 0.34666666rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.recom .recom-list .recom-com p{
  font-size:0.30666666rem;
  margin-top:0.10666666rem;
  height:1.08rem;
  line-height:0.37333333rem;
  text-indent: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}

.recom .recom-list .recom-com img{
  margin-top:0.2rem;
  float:right;
  width:1.41333333rem;
  height:0.17333333rem;
}
.recom .recom-list .img-right {
  float:right;
}
.recom .recom-list .com-right{
  text-align:right;
  padding:0 0.2rem 0 0;
}

.recom-title{
  margin-top:0.4rem;
  height:1rem;
  line-height:1rem;
  text-align:center;
  font-size:0.4rem;
  color:#cc7f15;
}
.recom-title i {
  display: block;
  width: 31%;
  height: 1rem;
  line-height: 1rem;
}
i.ticon1 {
  margin-left:2.5%;
  float:left;
  background: url("/static/index/images/dian.png") no-repeat right center;
  background-size: 3rem 0.6rem;
}
i.ticon2 {
  margin-right:2.5%;
  float:right;
  background: url("/static/index/images/dian.png") no-repeat left center;
  background-size: 3rem 0.6rem;
}
.recom-title label{
  width:33%
}


@media screen and (min-width: 800px) {
  .recom .recom-list {
    width:45%;
    margin:0 2.5%;
    float:left;
  }
}



