
.category{
  height:1.2rem;
  line-height:1.2rem;
  margin-top:0.2rem;
  border-top:1px solid #cc7f15;
  border-bottom:1px solid #cc7f15;
}
.category .swiper-wrapper{
  padding-left:0.2rem;
}
.category .swiper-wrapper .swiper-slide{
  /*width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  min-width:2rem;
  max-width:3rem;*/
  width:2rem;
  height:1.2rem;
  line-height:1.2rem;
  margin:0 0.2rem;
  text-align:center;
}
.category .swiper-wrapper .category-active{
  color:#cc7f15;
}
.category .swiper-wrapper .swiper-slide span{
  font-size:0.33333333rem;
}