

.order{
  padding:0.4rem 0.2rem;

}
.order .order-list{
  max-width:15rem;

  background: rgba(204, 169, 25,0.08);
  margin:0 auto;
  margin-bottom:0.32rem;
  border-radius:0.2rem;
  padding:0.4rem 0.4rem 0.2rem 0.4rem;
}
.order .order-list .order-goods{
  overflow:hidden;
  padding:0.2rem 0;
}
.order .order-list .order-goods .order-list-left{
  width:20%;
  height:1.6rem;
  text-align:center;
  float:left;
}
.order .order-list .order-goods .order-list-left img{
  width:1.6rem;
  border-radius:0.2rem;
}
.order .order-list .order-goods .order-list-middle{
  width:60%;
  height:1.6rem;
  float:left;
  padding:0 0.2rem;
}
.order .order-list .order-goods .order-list-middle h2{
  line-height:0.49333333rem;
  font-size:0.30666666rem;
  color:#0C0C0C;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.order .order-list .order-goods .order-list-middle p{
  height:0.49333333rem;
  line-height:0.49333333rem;
  font-size:0.28rem;
  color:#525252;
  padding-left:0.2rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.order .order-list .order-goods .order-list-right{
  width:20%;
  height:1.6rem;
  text-align:right;
  float:left;
  padding:0.4rem 0;
}
.order .order-list .order-goods .order-list-right p{
  text-align:right;
  height:0.4rem;
  line-height:0.4rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.order .order-list .order-goods .order-list-right p:first-child{
  font-size:0.30666666rem;
  color:#cc7f15;
}
.order .order-list .order-goods .order-list-right p:last-child{
  font-size:0.28rem;
  color:#525252;
}
.order .order-list .order-list-bottom{
  padding:0.32rem 0;
  overflow:hidden;
}
.order .order-list .order-list-bottom p{
  height:0.6rem;
  line-height:0.6rem;
  font-size:0.28rem;
  text-align:right;
  color:#525252;
}
.order .order-list .order-list-bottom a{
  display:block;
  width:2rem;
  height:0.68rem;
  line-height:0.68rem;
  font-size:0.30666666rem;
  background:#cc7f15;
  border-radius:0.8rem;
  text-align:center;
  float:right;
  margin:0.2rem 0.12rem 0 0.24rem;
  color:#fff;
}
.order .order-list .order-list-bottom .no-operation{
    background:#fff;
    color:#cc7f15;
    border:1px solid #cc7f15;
}


/*订单详情*/

.order-time{
  padding:0.4rem;
  overflow:hidden;
  display:flex;
  align-items: center;

    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* 标准的语法 */

}
.order-time .time-cont{
  width:7rem;

  padding:0.4rem 0 0.4rem 1rem;
}
.order-time .time-cont h2{
  font-size:0.33333333rem;
  line-height:0.6rem;
  color:#cc7f15;
  padding-left:0.2rem;
}
.order-time .time-cont p{
  font-size:0.30666666rem;
  line-height:0.6rem;
  color:#525252;
}
.order-time img{
  width:1.2rem;
    transform:rotate(8deg);
}
.order-address{
  height:2rem;
  display:flex;
  padding:0 0.6rem;

}
.order-address i{
  display:block;
  height:1.68rem;
  width:0.6rem;
  background:url(/static/index/images/address.png) no-repeat center center;
  background-size:0.6rem;
}
.order-address .address-cont{
  width:8rem;
  padding-left:0.4rem;

}
.order-address .address-cont p{
  line-height:0.56rem;
    font-size:0.32rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 这个表示要显示几行 */
    -webkit-box-orient: vertical;
}
.order-address .address-cont span{
    font-size:0.30666666rem;
  float:right;
    color:#525252;
}
.order-address .address-cont p:first-child{
  padding-right:0.4rem;
}

.order-address .address-empty p{
    line-height:2rem;
    text-align:center;
    color:#525252;
    font-size:0.32rem;
}

.order-info{
    padding:0 0.6rem;
    color:#525252;
}
.order-info h2{
    height:1rem;
    line-height:1rem;
    font-size:0.32rem;
    background: rgba(229, 229, 229, 0.3);
    padding-left:0.2rem;
}
.order-info p{
    line-height:0.6rem;
    padding-left:0.6rem;
    font-size:0.30666666rem;

}

.order-bottom{
    width:100%;
    height:1.2rem;
    font-size:0.33333333rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background:#fff;
    padding:0.2rem 0.4rem;
}
.order-bottom a{
    width:2.2rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    margin-right:0.4rem;
    display:block;
    border-radius:2rem;
    float:right;
    border:1px solid #ccc;
}
.order-bottom a:first-child{
    color: #666666;
    border:1px solid #666666;
}
.order-bottom a:last-child{
    color:#cc7f15;
    border:1px solid #cc7f15;
}


/*订单支付结果*/
.pay-header-title{
    color:#cc7f15;
    font-size:0.4rem;
    height:1.2rem;
    line-height:1.2rem;
    padding-top:0.2rem;
    letter-spacing:0.05333333rem;
    text-align:center;
}
.pay_result {
    padding-top:30%;
    text-align:center;
}
.pay_result i{
    display:inline-block;
    width:1.6rem;
    height:1.6rem;
}
i.success{
    background:url(/static/index/images/pay-success.png) no-repeat center center;
    background-size:1.6rem;
}
i.error{
    background:url(/static/index/images/pay-error.png) no-repeat center center;
    background-size:1.6rem;
}
i.warn{
    background:url(/static/index/images/pay-warn.png) no-repeat center center;
    background-size:1.6rem;
}
.pay_result h3{
    height:1rem;
    line-height:1rem;
    font-size:0.36rem;
}
.pay_result p {
    height:1rem;
    line-height:1rem;
    color:#525252;
    padding:0 1rem;
    font-size:0.32rem;
}
.pay_result .result-href{
    text-align:center;
    padding-top:1rem;
    height:2rem;
    display:inline-block;

}
.pay_result .result-href a{
    display:block;
    float:left;
    width:2rem;
    height:1rem;
    line-height:1rem;
    color:#525252;
    font-size:0.32rem;
}
.pay_result .result-href a:last-child{
    color:#cc7f15;
}







