

.order{
  padding:0.4rem 0.2rem;

}
.order .order-list{
  max-width:15rem;

  background: rgba(204, 169, 25,0.08);
  margin:0 auto;
  margin-bottom:0.32rem;
  border-radius:0.2rem;
  padding:0.4rem 0.4rem 0.2rem 0.4rem;
}
.order .order-list .order-goods{
  overflow:hidden;
  padding:0.2rem 0;
  /*border-bottom:1px solid #e3e3e3;*/
}
.order .order-list .order-goods .order-list-left{
  width:20%;
  height:1.6rem;
  text-align:center;
  float:left;
}
.order .order-list .order-goods .order-list-left img{
  width:1.6rem;
  border-radius:0.2rem;
}
.order .order-list .order-goods .order-list-middle{
  width:60%;
  height:1.6rem;
  float:left;
  padding:0 0.2rem;
}
.order .order-list .order-goods .order-list-middle h2{
  line-height:0.5rem;
  font-size:0.30666666rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.order .order-list .order-goods .order-list-middle p{
  height:0.5rem;
  line-height:0.5rem;
  font-size:0.28rem;
  color:#525252;
  padding-left:0.2rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.order .order-list .order-goods .order-list-right{
  width:20%;
  height:1.6rem;
  text-align:right;
  float:left;
  padding:0.4rem 0;
}
.order .order-list .order-goods .order-list-right p{
  text-align:right;
  height:0.4rem;
  line-height:0.4rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.order .order-list .order-goods .order-list-right p:first-child{
  font-size:0.30666666rem;
  color:#cc7f15;
}
.order .order-list .order-goods .order-list-right p:last-child{
  font-size:0.28rem;
  color:#525252;
}
.order .order-list .order-list-bottom{
  padding:0.34rem 0;
  overflow:hidden;
}
.order .order-list .order-list-bottom p{
  height:0.6rem;
  line-height:0.6rem;
  font-size:0.28rem;
  text-align:right;
  color:#525252;
}
.order .order-list .order-list-bottom a{
  display:block;
  width:2rem;
  height:0.68rem;
  line-height:0.68rem;
  font-size:0.30666666rem;
  background:#cc7f15;
  border-radius:0.8rem;
  text-align:center;
  float:right;
  margin:0.2rem 0.12rem 0 0.24rem;
  color:#fff;

}







