@rem:75rem;



.order{
    padding:30/@rem 15/@rem;
    .order-list{
        max-width:1125/@rem;
        background: rgba(204, 169, 25,0.08);
        margin:0 auto;
        margin-bottom:24/@rem;
        border-radius:15/@rem;
        padding:30/@rem 30/@rem 15/@rem 30/@rem;
        .order-goods{
            overflow:hidden;
            padding:15/@rem 0;
            .order-list-left{
                width:20%;
                height:120/@rem;
                text-align:center;
                float:left;
                img{
                    width:120/@rem;
                    border-radius:15/@rem;
                }
            }
            .order-list-middle{
                width:60%;
                height:120/@rem;
                float:left;
                padding:0 15/@rem;
                h2{
                    line-height:37/@rem;
                    font-size:23/@rem;
                    color:#0C0C0C;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* 这个表示要显示几行 */
                    -webkit-box-orient: vertical;
                }
                p{
                    height:37/@rem;
                    line-height:37/@rem;
                    font-size:21/@rem;
                    color:#525252;
                    padding-left:15/@rem;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* 这个表示要显示几行 */
                    -webkit-box-orient: vertical;
                }
            }
            .order-list-right{
                width:20%;
                height:120/@rem;
                text-align:right;
                float:left;
                padding:30/@rem 0;
                p{
                    text-align:right;
                    height:30/@rem;
                    line-height:30/@rem;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* 这个表示要显示几行 */
                    -webkit-box-orient: vertical;
                    &:first-child{
                        font-size:23/@rem;
                        color:#cc7f15;
                    }
                    &:last-child{
                        font-size:21/@rem;
                        color:#525252;
                    }
                }
            }
        }
        .order-list-bottom{
            padding:24/@rem 0;
            overflow:hidden;
            p{
                height:45/@rem;
                line-height:45/@rem;
                font-size:21/@rem;
                text-align:right;
                color:#525252;
            }
            a{
                display:block;
                width:150/@rem;
                height:51/@rem;
                line-height:51/@rem;
                font-size:23/@rem;
                background:#cc7f15;
                border-radius:60/@rem;
                text-align:center;
                float:right;
                margin:15/@rem 9/@rem 0 18/@rem;
                color:#fff;

            }
        }
    }

}



/*订单详情*/

.order-time{
    padding:30/@rem;
    overflow:hidden;
    display:flex;
    align-items: center;

    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(204,127,21,0.2), rgba(255, 255, 255, 0.2)); /* 标准的语法 */
    .time-cont{
        width:525/@rem;
        padding:30/@rem 0 30/@rem 75/@rem;
        h2{
            font-size:25/@rem;
            line-height:45/@rem;
            color:#cc7f15;
            padding-left:15/@rem;
        }
        p{
            font-size:23/@rem;
            line-height:45/@rem;
            color:#525252;
        }
    }
    img{
        width:90/@rem;
        transform:rotate(8deg);
    }
}

.order-address{
    height:150/@rem;
    display:flex;
    padding:0 45/@rem;
    i{
        display:block;
        height:126/@rem;
        width:45/@rem;
        background:url(/static/index/images/address.png) no-repeat center center;
        background-size:45/@rem;
    }
    .address-cont{
        width:600/@rem;
        padding-left:30/@rem;
        p{
            line-height:42/@rem;
            font-size:24/@rem;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* 这个表示要显示几行 */
            -webkit-box-orient: vertical;
            &:first-child{
                padding-right:30/@rem;
            }
        }
        span{
            font-size:23/@rem;
            float:right;
            color:#525252;
        }
    }

}

.order-info{
    padding:0 45/@rem;
    color:#525252;
    h2{
        height:75/@rem;
        line-height:75/@rem;
        font-size:24/@rem;
        background: rgba(229, 229, 229, 0.3);
        padding-left:15/@rem;
    }
    p{
        line-height:45/@rem;
        padding-left:45/@rem;
        font-size:23/@rem;

    }
}

.order-bottom{
    width:100%;
    height:90/@rem;
    font-size:25/@rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background:#fff;
    padding:15/@rem 30/@rem;
    a{
        width:165/@rem;
        height:60/@rem;
        line-height:60/@rem;
        text-align:center;
        margin-right:30/@rem;
        display:block;
        border-radius:150/@rem;
        float:right;
        border:1px solid #ccc;
        &:first-child{
            color: #666666;
            border:1px solid #666666;
        }
        &:last-child{
            color:#cc7f15;
            border:1px solid #cc7f15;
        }
    }
}

/*订单支付结果*/
.pay-header-title{
    color:#cc7f15;
    font-size:30/@rem;
    height:90/@rem;
    line-height:90/@rem;
    padding-top:15/@rem;
    letter-spacing:4/@rem;
    text-align:center;
}
.pay_result {
    padding-top:30%;
    text-align:center;
    i{
        display:inline-block;
        width:120/@rem;
        height:120/@rem;
    }
    h3{
        height:1rem;
        line-height:1rem;
        font-size:27/@rem;
    }
    p {
        height:75/@rem;
        line-height:75/@rem;
        color:#525252;
        padding:0 75/@rem;
        font-size:24/@rem;
    }
    .result-href{
        text-align:center;
        padding-top:75/@rem;
        height:150/@rem;
        display:inline-block;
        a{
            display:block;
            float:left;
            width:150/@rem;
            height:75/@rem;
            line-height:75/@rem;
            color:#525252;
            font-size:24/@rem;
            &:last-child{
                color:#cc7f15;
            }
        }
    }
}
i.success{
    background:url(/static/index/images/pay-success.png) no-repeat center center;
    background-size:120/@rem;
}
i.error{
    background:url(/static/index/images/pay-error.png) no-repeat center center;
    background-size:120/@rem;
}









