html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color:#0C0C0C;
}
body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.public {
  width: 100%;
  height: 1.2rem;
  background: url("../image/hback.gif") repeat-y;
  background-size: 100%;
  display: flex !important;
  display: -webkit-flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  position: relative;
}
.public img {
  width: 0.21333333rem;
}
.public h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.42666667rem;
  font-weight: 600;
  color: #ffffff;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.33333333rem;
  background: #ffffff;
  z-index: 2000;
}
footer div {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
footer div a {
  flex-grow: 1;
  text-align: center;
  display: block;
  color: #262626;
  font-size: 0.4rem;
}
footer i {
  display: inline-block;
  width: 0.52rem;
  height: 0.66666667rem;
}
i.ficon1 {
  background: url("../images/footer.png");
  background-size: 0.52rem;
}
i.ficon2 {
  background: url("../images/footer.png") 0 -0.66666667rem;
  background-size: 0.52rem;
}
i.ficon3 {
  background: url("../images/footer.png") 0 -1.33333333rem;
  background-size: 0.52rem;
}
i.ficon4 {
  background: url("../images/footer.png") 0 -2rem;
  background-size: 0.52rem;
}
.bottom-content {
  height: 1.6rem;
}

/*弹窗提示*/
.alertInfo{
  font-size:0.33333333rem;
  text-align:center;
  color: rgba(212,212,212,0.9);
  background: rgba(255, 255, 255, 0);
  width:100%;
  z-index: 1000;
  position: fixed;
  top:50%;
  line-height:0.6rem;
  display:none;
}
.alertInfo p{
  background:rgba(39,39,39,0.9);
  padding:0.34666666rem 1rem;
  border-radius:5px;
  max-width:80%;
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  margin:0 auto;
}

/*Back返回功能模块*/
.back{
  width:0.8rem;
  z-index: 998;
  position:fixed;
  top:0.50666666rem;
  left:0.50666666rem;
}
.back a{
  display:block;
}
.back img{
  width:100%;
}

/*头部标题及返回*/
.header-title{
  width:100%;
  height:1.2rem;

  padding-top:0.2rem;
  overflow:hidden;
  position: relative;

}
.header-title img{
  width:0.8rem;
  height:0.8rem;
  position: absolute;
  top:0.33333333rem;
  left:0.6rem;

}
.header-title h2{
  width:100%;
  color:#cc7f15;
  font-size:0.4rem;
  text-align:center;
  height:1rem;
  line-height:1rem;
  letter-spacing:0.05333333rem;

}

/*input通用样式*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}


/*加载*/
.load{
  width:100%;
  height:1.2rem;
  line-height: 1.2rem;
  color: #838383;
  text-align:center;
  font-size:0.3rem;
}

/*空数据*/
.empty-data{
  width:100%;
  overflow: hidden;
  text-align:center;
  margin-top:3rem;
}
.empty-data img{
  width:3rem;
  height:3rem;
}
.empty-data p{
  margin-top:0.36rem;
  font-size:0.32rem;
  color: #7f7f7f;
  letter-spacing:0.08rem;
}

.a-block{
  display:block;
  color: #232323;
}
