


.replace{
  padding:0.8rem 0.2rem 0.4rem 0.2rem;
}
.replace input{
  display:none;
}
.replace h2{
  height:0.8rem;
  line-height:0.8rem;
  padding-left:0.2rem;
  font-size:0.36rem;
  color: #292929;
}

.replace .replace-goods{
  padding-bottom: 0.2rem;
  margin-bottom:0.2rem;
  border-bottom:1px dashed #ccc;

}
.replace .replace-goods:last-child{
  border-bottom:none;
}
.replace .replace-goods .goods-list{
  display:flex;
}
.replace .replace-goods .goods-select{

}
.replace .replace-goods .goods-select i{
  display:block;
  width:0.8rem;
  height:1.2rem;
  background:url(/static/index/images/circle.png) no-repeat center center;
  background-size:0.4rem;
}
i.select-active{
  background:url(/static/index/images/circle-active.png) no-repeat center center !important;
  background-size:0.4rem !important;
}
.replace .replace-goods .goods-img{
  margin:0 0.2rem;
}
.replace .replace-goods .goods-img img{
  width:1.2rem;
  height:1.2rem;
  border-radius:0.2rem;
}
.replace .replace-goods .goods-title{

}
.replace .replace-goods .goods-title p{
  height: 0.6rem;
  line-height:0.6rem;
  font-size: 0.32rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.replace .replace-goods .goods-title p:first-child{
  color:#525252;
}
.replace .replace-goods .goods-title p:last-child{
  color:#cc7f15;
}
.replace .replace-goods .reason-list{
  padding:0.2rem 0.4rem;
}
.replace-type{

}
.replace .replace-goods .reason-list .replace-type .type-select{
  display:flex;
}
.replace .replace-goods .reason-list .replace-type .type-select i{
  display:block;
  width:0.8rem;
  height:1rem;
  background:url(/static/index/images/circle.png) no-repeat center center;
  background-size:0.4rem;
}
.replace .replace-goods .reason-list .replace-type .type-select span {
  height: 1rem;
  line-height:1rem;
  font-size: 0.32rem;
  color:#525252;
  padding-left:0.4rem;
}
.replace-reason{

}
.replace .replace-goods .reason-list .replace-reason .reason-select{
  display:flex;
}
.replace .replace-goods .reason-list .replace-reason .reason-select i{
  display:block;
  width:0.8rem;
  height:0.6rem;
  background:url(/static/index/images/circle.png) no-repeat center center;
  background-size:0.4rem;
}
.replace .replace-goods .reason-list .replace-reason .reason-select span {
  height: 0.6rem;
  line-height:0.6rem;
  font-size: 0.32rem;
  color:#525252;
  padding-left:0.4rem;
}
.replace .replace-goods .reason-list .replace-info{
  padding:0.2rem 0;
}

.replace .replace-goods .reason-list .replace-info textarea{
  width:100%;
  height:1.6rem;
  line-height:0.4rem;
  border:1px solid #78868e;
  background:#fff;
  border-radius:0.16rem;
  padding:0.2rem 0;
  color:#525252;
  font-size:0.32rem;
}
.replace .replace-goods .reason-list .replace-img{
  margin-top:0.2rem;
}

.replace-button{
  text-align:center;
}
.replace-button .replace-explain{
  text-align:left;
  padding:0 0.8rem;
  margin-bottom: 0.4rem;
}
.replace-button .replace-explain h2{
  height:0.8rem;
  line-height:0.8rem;

  font-size:0.36rem;
  color: #292929;
}
.replace-button .replace-explain p{
  line-height:0.52rem;
  padding-left:0.2rem;
  font-size:0.32rem;
  color: #494949;
}
.replace-button button{
  width:8rem;
  height:1rem;
  line-height: 1rem;
  background:#cc7f15;
  color:#fff;
  font-size: 0.33333333rem;
  border:none;
  border-radius: 1rem;
}

/*售后详情*/
.replaces{

  padding:0.4rem 0;
  border-bottom:1px dashed #ccc;
}
.replaces .replaces-goods{
  display:flex;
  padding:0.2rem 0.6rem;
}
.replaces .replaces-goods img{
  width:1.2rem;
  height:1.2rem;
  border-radius:0.16rem;
}
.replaces .replaces-goods .goods-title{
  padding-left:0.4rem;

}
.replaces .replaces-goods .goods-title p{
  height:0.6rem;
  line-height:0.6rem;
  width:100%;
  font-size:0.32rem;
  float:left;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 这个表示要显示几行 */
  -webkit-box-orient: vertical;
}
.replaces .replaces-goods .goods-title p:nth-child(2){
  width:50%;
  color:#cc7f15;

}
.replaces .replaces-goods .goods-title p:nth-child(3){
  width:50%;
  color:#525252;
}
.replaces .replaces-reason{
  padding:0.12rem 0.8rem;
}
.replaces .replaces-reason h2{
  height:0.6rem;
  line-height:0.6rem;
  font-size:0.36rem
}
.replaces .replaces-reason p{

  line-height:0.48rem;
  font-size:0.32rem;
  color: #927117;
  padding-left:0.2rem;
}
.replaces .replaces-reason button{
  width:2.4rem;
  height:0.8rem;
  font-size:0.32rem;
  color:#cc7f15;
  background:#fff;
  border:1px solid #cc7f15;
  border-radius:0.6rem;
  margin:0.2rem 0 0 0.4rem;
}
.replaces .replaces-reason .reason-img{
  padding-left:0.2rem;
}
.replaces .replaces-reason .reason-img img{
  width:1.6rem;
  margin:0 0.12rem;
  border-radius:0.12rem;
}
.replaces .replaces-reason .reason-form{
  padding:0 0.2rem;
}
.replaces .replaces-reason .reason-form input{
  background:#fff;
  border:none;
  border-bottom:1px solid #ccc;
  height:1rem;
  line-height:1rem;
  font-size:0.32rem;
  width:100%;
  color:#525252;
}
.replaces .replaces-reason .reason-form select{
  background:#fff;
  border:none;
  border-bottom:1px solid #ccc;
  height:0.8rem;
  line-height:0.8rem;
  font-size:0.32rem;
  width:100%;
  color:#525252;
}
.replaces .replaces-reason .reason-form button{
  color:#fff;
  background:#cc7f15;
  margin-left:0;
}
