
/*二级产品分类*/
.roll-nav{
  height:1.2rem;
  line-height:1.2rem;
  margin-top:0.4rem;
  border-top:1px solid #cc7f15;
  border-bottom:1px solid #cc7f15;
}
.roll-nav .swiper-wrapper{
  padding-left:0.2rem;
}
.roll-nav .swiper-wrapper .swiper-slide{
  /*width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  min-width:2rem;
  max-width:3rem;*/
  width:2rem;
  height:1.2rem;
  line-height:1.2rem;
  margin:0 0.2rem;
  text-align:center;
  display:flex;
  align-items: center;
}
.roll-nav .swiper-wrapper .swiper-slide span{
  font-size:0.33333333rem;
  margin:0 auto;
}
.roll-nav .swiper-wrapper .nav-active{
  color:#cc7f15;
}









