


.wallet{
    padding-top:0.8rem;

}
.wallet .wallet-money{
    width:8rem;
    border:2px dotted #cc7f15;
    border-radius:0.2rem;
    margin:0 auto;
    text-align:center;
    padding:0.6rem 0;
}
.wallet .wallet-money p{
    height:1rem;
    line-height:1rem;
    font-size:0.68rem;
    color:#cc7f15;
}
.wallet .wallet-money span{
    font-size:0.32rem;
    color:#969696;
    padding-right:0.4rem;
}
.wallet .wallet-money strong{
    font-size:0.52rem;
}

.wallet .wallet-info{
    width:100%;
    padding-top:0.4rem;
}
.wallet .wallet-info h2{
    height:1rem;
    line-height:1rem;
    font-size:0.33333333rem;
    color:#525252;
    padding-left:0.4rem;
    background:rgba(229, 229, 229, 0.3);
}
.wallet .wallet-info .wallet-list {
    height:1rem;
    overflow:hidden;
    padding:0 0.4rem;
    display:flex;
}
.wallet .wallet-info .wallet-list  p{
    height:1rem;
    line-height: 1rem;
    font-size:0.32rem;
    color:#525252;
    overflow: hidden;
    float:left;

}
.wallet .wallet-info .wallet-list  p:first-child{
    flex-shrink: 0;
    width:2rem;
}
.wallet .wallet-info .wallet-list  p:nth-child(2){
    padding:0 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 这个表示要显示几行 */
    -webkit-box-orient: vertical;
}
.wallet .wallet-info .wallet-list  p:last-child{

    flex-shrink: 0;
    width:2rem;
    color:#cc7f15;
    align-self:flex-end;
    float:right;


}
.integral{
    display:block !important;
}
.integral  p:nth-child(2){
    padding:0 0.4rem 0 0.6rem !important;
    width:5rem;
}