<div class="bottom-content"></div>
<footer>
    <div>
        <a href="./">
            <i class="ficon1"></i>
            <p>Aoogi</p>
        </a>
        <a href="/details">
            <i class="ficon2"></i>
            <p>品类</p>
        </a>
        <a href="/car">
            <i class="ficon3"></i>
            <p>购物车</p>
        </a>
        <a href="./person.html">
            <i class="ficon4"></i>
            <p>我的</p>
        </a>
    </div>
</footer>

</body>

<script>
    window.onload = function() {
        // 阻止双击放大
        var lastTouchEnd = 0;
        document.addEventListener('touchstart', function(event) {
            if (event.touches.length > 1) {
                event.preventDefault();
            }
        });
        document.addEventListener('touchend', function(event) {
            var now = (new Date()).getTime();
            if (now - lastTouchEnd <= 300) {
                event.preventDefault();
            }
            lastTouchEnd = now;
        }, false);

        // 阻止双指放大
        document.addEventListener('gesturestart', function(event) {
            event.preventDefault();
        });
    }
</script>