<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="[keywords]" />
    <title>[title]</title>
    {load href="/static/index/lib/flexible_css.js" /}
    {load href="/static/index/lib/flexible.js" /}
    {load href="/static/index/lib/jquery-3.3.1.min.js" /}

    {load href="/static/index/css/cssreset.css" /}
    {load href="/static/index/css/public.css" /}

</head>

<body>

<!--弹窗提示模块-->
    <div class="alertInfo" id="alertInfo">
        <p></p>
    </div>